<li class="list-group-item">
    <i class="fas fa-archive fa-fw mr-1"></i><span class="badge badge-warning mr-1">2021-05-08</span>{% if page.lang == "zh" %}第三届论坛（2021）的网站已经归档，请<a href="https://2020.estds.yicode.ac/zh">点击此处</a>访问。{% else %}Website of the 3rd Forum (2021) has been achived. Please <a href="https://2020.estds.yicode.ac/">click here</a> to visit.{% endif %}
</li>
<!-- Lists need to be in the following format
<li class="list-group-item">
    <i class="far fa-calendar-alt fa-fw mr-1"></i><span class="badge badge-warning mr-1">2020-03-09</span>{% if page.lang == "zh" %}<a href="/zh/take-part/">我们的注册系统已经开放，欢迎报名参会！</a>{% else %}<a href="/take-part/">Our registration is open. Book your place now!</a>{% endif %}
</li>
<li class="list-group-item">
    <i class="far fa-calendar-alt fa-fw mr-1"></i><span class="badge badge-warning mr-1">2020-04-09</span>{% if page.lang == "zh" %}<a href="/blog/2021/04/09/change-of-venue-zh">会议举办地点已经变更。</a>{% else %}<a href="/blog/2021/04/09/change-of-venue">Venue of the Forum has been moved.</a>{% endif %}
</li>
-->
