<li class="list-group-item">
    <i class="far fa-calendar-alt fa-fw mr-1"></i><span class="badge badge-warning mr-1">2020-03-09</span>{% if page.lang == "zh" %}<a href="/zh/take-part/">我们的注册系统已经开放，欢迎报名参会！</a>{% else %}<a href="/take-part/">Our registration is open. Book your place now!</a>{% endif %}
</li>
<li class="list-group-item">
    <i class="far fa-calendar-alt fa-fw mr-1"></i><span class="badge badge-warning mr-1">2020-03-11</span>{% if page.lang == "zh" %}<a href="/zh/logistics/">住宿预定系统已经开放。</a>{% else %}<a href="/take-part/">Accommodation booking is open</a>{% endif %}
</li>
