		<ul class="people-list p-0">
				<li class="media my-2">
						<img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-zhangjianyun.jpg" class="people-avatar rounded-circle mr-3" alt="Jianyun Zhang">
						<div class="media-body">
								<h5 class="mt-0"><b>{% if page.lang == "zh" %}鲁春辉{% else %}Chunhui Lu{% endif %}</b></h5>
								<ul class="contacts list-unstyled">
										<li><i class="text-secondary fas fa-envelope fa-fw mr-1"></i>clu@hhu.edu.cn</li>
										<li><i class="text-secondary fas fa-phone fa-fw mr-1"></i></li>
										<li><i class="text-secondary fas fa-fax fa-fw mr-1"></i></li>
										<li><i class="text-secondary fas fa-map-pin fa-fw mr-1"></i>{% if page.lang == "zh" %}{% else %}{% endif %}</li>
								</ul>
						</div>
				</li>
		</ul>
