<section class="event-info mb-3">
  <div class="card-group">
    <div class="card bg-dark text-white">
      <div class="card-body p-1 d-flex align-items-center text-truncate">
        <div class="text-white-50 p-2 border-right"><i class="fas fa-clock fa-2x fa-fw"></i></div>
        <div class="py-1 ml-3 text-truncate">
          <h5 class="text-white-50 small text-truncate">{% if page.lang == "zh" %}时间{% else %}Time{% endif %}<button type="button" class="btn btn-link text-reset btn-sm ml-1 p-0" data-toggle="modal" data-target="#converted-local-time"><i class="fas fa-globe"></i></button></h5>
          <p class="mb-0 text-truncate"><b>{% if page.start %}{% include get_time.html time=page.start %} - {{ page.end | date: "%H:%M" }}{% else %}TBD{% endif %}</b></p>
        </div>
      </div>
    </div>
    <div class="card bg-secondary text-white">
      <div class="card-body p-1 d-flex align-items-center text-truncate">
        <div class="text-white-50 p-2 border-right"><i class="fas fa-map-marker-alt fa-2x fa-fw"></i></div>
        <div class="py-1 ml-3 text-truncate">
          {% if page.lang == "zh" %}
          <h5 class="text-white-50 small text-truncate">地点</h5>
          <p class="mb-0 text-truncate"><b>{% if page.place %}{{ page.place }}{% else %}待定{% endif %}</b></p>
          {% else %}
          <h5 class="text-white-50 small text-truncate">Place</h5>
          <p class="mb-0 text-truncate"><b>{% if page.place %}{{ page.place }}{% else %}TBD{% endif %}</b></p>
          {% endif %}
        </div>
      </div>
    </div>
</section>

<script type="text/javascript" src="/assets/js/fullcalendar/lib/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/estds/cdn-res/usertime/usertime.min.js"></script>

<div class="modal fade" id="converted-local-time" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">{% if page.lang == "zh" %}时间转换{% else %}Time Converter{% endif %}</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{% if page.lang == "zh" %}这里显示的是{{ site.cfrc_place_zh }}的当地时间。{% else %}The time displayed is the local time in {{ site.cfrc_place }}.{% endif %}</p>
        <p>{% if page.lang == "zh" %}这将是您当前时区的<span class="text-primary font-weight-bold"><usertime format="YYYY年MM月DD日 HH:mm">{{ page.start | date_to_xmlschema }}</usertime></span>至<span class="text-primary font-weight-bold"><usertime format="YYYY年MM月DD日 HH:mm" class="text-primary font-weight-bold">{{ page.end | date_to_xmlschema }}</usertime></span>。{% else %}It will be <span class="text-primary font-weight-bold"><usertime format="MMM DD YYYY, HH:mm" class="text-primary font-weight-bold">{{ page.start | date_to_xmlschema }}</usertime></span> to <span class="text-primary font-weight-bold"><usertime format="MMM DD YYYY, HH:mm" class="text-primary font-weight-bold">{{ page.end | date_to_xmlschema }}</usertime></span> in your current time zone.{% endif %}</p>
        <p class="mb-0 small">{% if page.lang == "zh" %}请注意这是根据您浏览器设置的时区进行的转换。{% else %}Please be noted that the conversion is based on the time zone settings of your browser.{% endif %}</p>
      </div>
    </div>
  </div>
</div>
