  <div id="home-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#home-carousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner bg-light">
      <div class="carousel-item active ani-loading bg-by-attr" data-image="https://cdn.jsdelivr.net/gh/estds/wssf2023/assets/img/jerry-wang-5vsldTinU5U-unsplash.jpg">
        {% if page.lang == "zh" %}
        <div class="carousel-caption animated slideInUp">
          <p class="lead mb-0">{{ site.cfrc_start | date: '%Y年%m月%d' }}至{{ site.cfrc_end | date: '%d日' }}</p>
          <h5 class="display-4">水安全与可持续发展</h5>
          <p class="lead">国际高端论坛</p>
          <p><a href="/zh/about" class="btn btn-outline-light">了解更多</a></p>
        </div>
        <div class="credit-label text-truncate">摄影：Jerry Wang</div>
        {% else %}
        <div class="carousel-caption animated slideInUp">
          <p class="lead">{{ site.cfrc_start | date: '%d' }} to {{ site.cfrc_end | date_to_string }}</p>
          <p class="lead mb-0">International Forum on</p>
          <h5 class="display-5">Water security &amp; Sustainability</h5>
          <p><a href="/about" class="btn btn-outline-light">Know more</a></p>
        </div>
        <div class="credit-label text-truncate">Photo credit: Jerry Wang</div>
        {% endif %}
      </div>
      <div class="carousel-item ani-loading bg-by-attr" data-image="https://cdn.jsdelivr.net/gh/estds/wssf2023/assets/img/nanjing-xuanwu-lake.jpg">
        {% if page.lang == "zh" %}
        <div class="carousel-caption animated slideInUp">
          <p class="lead mb-0">{{ site.cfrc_start | date: '%Y年%m月%d' }}至{{ site.cfrc_end | date: '%d日' }}</p>
          <h5 class="display-4">南京见</h5>
          <p><a href="/zh/logistics" class="btn btn-outline-light">查看详情</a></p>
        </div>
        <div class="credit-label text-truncate">摄影：张德超</div>
        {% else %}
        <div class="carousel-caption animated slideInUp">
          <p class="lead mb-0">{{ site.cfrc_start | date: '%d' }} to {{ site.cfrc_end | date_to_string }}</p>
          <h5 class="display-4">See you in Nanjing</h5>
          <p><a href="/logistics" class="btn btn-outline-light">Read more</a></p>
        </div>
        <div class="credit-label text-truncate">Photo credit: Dechao Zhang</div>
        {% endif %}
      </div>
    </div>
    <a class="carousel-control-prev" href="#home-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#home-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
