<!--[if IE ]>
<div id="msie-alert" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
  <div class="toast-header">
    <strong class="mr-auto">Message</strong>
    <small>From future</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Dude, get rid of your Internet Explorer! Even <a href="https://techcommunity.microsoft.com/t5/Windows-IT-Pro-Blog/The-perils-of-using-Internet-Explorer-as-your-default-browser/ba-p/331732">Microsoft has given up on it</a>.
  </div>
</div>
<script>
  $(document).ready(function(){
    $('#msie-alert').toast('show');
  });
</script>
<![endif]-->
