{% if page.lang == "zh" %}
<h2>住宿</h2>
<p>如果有需要，您可以在以下与论坛合作的酒店预定住宿。</p>
<h3>南京金奥费尔蒙酒店</h3>
<p>南京金奥费尔蒙酒店是论坛会场所在地点，您可以在以下地图中查看酒店的位置：</p>
<ul>
  <li><a href="https://uri.amap.com/marker?position=118.71967857717082,32.000005897370144&amp;coordinate=wgs84">高德地图</a></li>
  <li><a href="https://www.google.com/maps/search/?api=1&amp;query=31.997964553021,118.7248777129">Google 地图</a></li>
</ul>
<p>我们与酒店的会议协议价格如下：</p>
<div class="card-group mb-3">
  <div class="card sold-out bg-transparent">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/fairmont-queen-beds-lr.jpg" class="card-img-top" alt="双床房">
    <div class="card-body">
      <h5 class="card-title mb-0">双床房</h5>
      <P class="card-text lead text-success my-0">490元/房/晚</P>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-utensils fa-fw mr-1"></i>含单人早餐</small></p>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-user-friends fa-fw mr-1"></i>最多可容纳2位客人</small></p>
    </div>
  </div>
  <div class="card sold-out bg-transparent">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/fairmont-king-bed.jpg" class="card-img-top" alt="大床房">
    <div class="card-body">
      <h5 class="card-title mb-0">大床房</h5>
      <P class="card-text lead text-success my-0">490元/房/晚</P>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-utensils fa-fw mr-1"></i>含单人早餐</small></p>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-user-friends fa-fw mr-1"></i>最多可容纳2位客人</small></p>
    </div>
  </div>
</div>
<h3>南京汉润1882酒店</h3>
<p class="alert alert-info small">我们正在与负责交通的团队讨论如何保证两个酒店之间的通勤，稍后公布更多细节，请保持关注。</p>
<p>南京汉润1882酒店距离会场大约2km，二者之间地铁10号线直达（1站路）。您可以在以下地图中查看酒店的位置：</p>
<ul>
  <li><a href="https://uri.amap.com/marker?position=118.73005729829009,31.99065382402944&coordinate=wgs84">高德地图</a></li>
  <li><a href="https://www.google.com/maps/search/?api=1&query=31.988624284801,118.73526706758">Google 地图</a></li>
</ul>
<p>我们与酒店的会议协议价格如下：</p>
<div class="card-group mb-3">
  <div class="card sold-out bg-transparent">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/hanrun-queen-beds.jpg" class="card-img-top" alt="双床房">
    <div class="card-body">
      <h5 class="card-title mb-0">双床房</h5>
      <P class="card-text lead text-success my-0">380元/房/晚</P>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-utensils fa-fw mr-1"></i>含单人早餐</small></p>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-user-friends fa-fw mr-1"></i>最多可容纳2位客人</small></p>
    </div>
  </div>
  <div class="card bg-transparent">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/hanrun-king-bed.jpg" class="card-img-top" alt="大床房">
    <div class="card-body">
      <h5 class="card-title mb-0">大床房</h5>
      <P class="card-text lead text-success my-0">380元/房/晚</P>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-utensils fa-fw mr-1"></i>含单人早餐</small></p>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-user-friends fa-fw mr-1"></i>最多可容纳2位客人</small></p>
    </div>
  </div>
</div>
<h4 id="敬请注意">敬请注意：</h4>
<ul>
  <li>上述房价为每晚房价，是论坛协议价格，需要提前预定；您在登记入住时酒店可能会请您出示参会凭证，否则酒店保留要求您按照门市价格支付费用的权利。</li>
  <li>办理入住时间是14:00以后，如您提前抵达，酒店在有空房的情况下可优先安排提前入住。</li>
  <li>退房时间为12:00，最迟不得超过14:00，否则将视情况加收房费；退房请直接至酒店前台办理。</li>
  <li>酒店预定系统将于4月19日12:00（GMT+8）关闭。</li>
</ul>
<p><a href="accommodation" class="btn btn-block btn-lg btn-primary">前去预定</a></p>
{% else %}
<h2>Accommodation</h2>
<p>If you need, you can book accommodation at the following hotels in cooperation with the Forum.</p>
<h3>Fairmont Nanjing</h3>
<p>This is the venue of the Forum. You may find its position in the following map services:</p>
<ul>
  <li><a href="https://uri.amap.com/marker?position=118.71967857717082,32.000005897370144&amp;coordinate=wgs84">AutoNavi</a></li>
  <li><a href="https://www.google.com/maps/search/?api=1&amp;query=31.997964553021,118.7248777129">Google Maps</a></li>
</ul>
<p>The discounted prices for participants of the Forum are:</p>
<div class="card-group mb-3">
  <div class="card bg-transparent">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/fairmont-queen-beds-lr.jpg" class="card-img-top" alt="Double Room">
    <div class="card-body">
      <h5 class="card-title mb-0">Double Room</h5>
      <P class="card-text lead text-success my-0">490 CNY/Room/Night</P>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-utensils fa-fw mr-1"></i>Breakfast for one guest</small></p>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-user-friends fa-fw mr-1"></i>Maximum two guests</small></p>
    </div>
  </div>
  <div class="card bg-transparent">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/fairmont-king-bed.jpg" class="card-img-top" alt="King Room">
    <div class="card-body">
      <h5 class="card-title mb-0">King Room</h5>
      <P class="card-text lead text-success my-0">490 CNY/Room/Night</P>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-utensils fa-fw mr-1"></i>Breakfast for one guest</small></p>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-user-friends fa-fw mr-1"></i>Maximum two guests</small></p>
    </div>
  </div>
</div>
<h3>Hanrun Nanjing 1882</h3>
<p class="alert alert-info small">We are talking to our transport team for more support of commuting between two hotels. More details to be announced.</p>
<p>This hotel is approximately 2km away from the venue. It is one stop away by Metro Line 10. You may find its position in the following map services:</p>
<ul>
  <li><a href="https://uri.amap.com/marker?position=118.73005729829009,31.99065382402944&coordinate=wgs84">Autonavi</a></li>
  <li><a href="https://www.google.com/maps/search/?api=1&query=31.988624284801,118.73526706758">Google Maps</a></li>
</ul>
<p>The discounted prices for participants of the Forum are:</p>
<div class="card-group mb-3">
  <div class="card bg-transparent">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/hanrun-queen-beds.jpg" class="card-img-top" alt="Double Room">
    <div class="card-body">
      <h5 class="card-title mb-0">Double Room</h5>
      <P class="card-text lead text-success my-0">380 CNY/Room/Night</P>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-utensils fa-fw mr-1"></i>Breakfast for one guest</small></p>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-user-friends fa-fw mr-1"></i>Maximum two guests</small></p>
    </div>
  </div>
  <div class="card bg-transparent">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/hanrun-king-bed.jpg" class="card-img-top" alt="King Room">
    <div class="card-body">
      <h5 class="card-title mb-0">King Room</h5>
      <P class="card-text lead text-success my-0">380 CNY/Room/Night</P>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-utensils fa-fw mr-1"></i>Breakfast for one guest</small></p>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-user-friends fa-fw mr-1"></i>Maximum two guests</small></p>
    </div>
  </div>
</div>
<h4 id="plese-note">Plese note:</h4>
<ul>
  <li>The above prices are for one room per night and is discounted exclusively for participants of the Forum. You might be requested by the hotel to present documents to prove that you are taking part in the Forum, otherwise you might be required to pay at regular market price.</li>
  <li>The check-in time is 14:00. The hotel would only be able to offer early check-ins when there are empty rooms available.</li>
  <li>The check-out time is 12:00 and could not be extended any further after 14:00, otherwise additonal charges will apply. To check out, please go to the reception desk of the hotel.</li>
  <li>This booking form will be closed by 12:00 19 April (GMT+8).</li>
</ul>
<p><a href="accommodation" class="btn btn-block btn-lg btn-primary">Book now</a></p>
{% endif %}
<style>
.card.sold-out::after {
  content: 'Sold out';
  position: absolute;
  top: 30%;
  left: 0;
  font-size: 4rem;
  color: rgba(255,0,0,0.7);
  width: 100%;
  text-align: center;
  transform: rotate(-45deg);
}
</style>
