{% if page.lang == "zh" %}
<p class="alert alert-warning small">论坛的<a href="/blog/2021/04/09/change-of-venue-zh">举办地点已变更</a>，敬请留意。</p>
<h2>地点</h2>
<p>第三届水安全与可持续发展国际高端论坛将在<a href="https://www.fairmont.cn/nanjing/">南京金奥费尔蒙</a>酒店（江苏省南京市建邺区江东门中路333号）举办。</p>
<p>您可以在以下地图中查看酒店的位置：</p>
<ul>
  <li><a href="https://uri.amap.com/marker?position=118.71967857717082,32.000005897370144&coordinate=wgs84">高德地图</a></li>
  <li><a href="https://www.google.com/maps/search/?api=1&query=31.997964553021,118.7248777129">Google 地图</a></li>
</ul>
<div class="row">
  <div class="col-12 col-md-6">
    <div class="figure">
      <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/fairmont-nanjing-external.jpg" alt="Outside view of the hotel" class="img-fluid" />
      <p class="caption small text-muted">酒店外观</p>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="figure">
      <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/fairmont-nanjing-lobby.jpg" alt="Lobby on ground floor" class="img-fluid" />
      <p class="caption small text-muted">入口大堂</p>
    </div>
  </div>
</div>


{% else %}
<p class="alert alert-warning small">There has been <a href="/blog/2021/04/09/change-of-venue">a change to the venue</a> of the Forum, which might require your attention。</p>
<h2>Venue</h2>
<p>The Forum will be held at <a href="https://www.fairmont.com/nanjing/">Fairmont Nanjing</a> hotel (333 Jiangdong Middle Road Jianye District, Nanjing).</p>
<p>You may find its position in the following map services:</p>
<ul>
  <li><a href="https://uri.amap.com/marker?position=118.71967857717082,32.000005897370144&coordinate=wgs84">AutoNavi</a></li>
  <li><a href="https://www.google.com/maps/search/?api=1&query=31.997964553021,118.7248777129">Google Maps</a></li>
</ul>
<div class="row">
  <div class="col-12 col-md-6">
    <div class="figure">
      <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/fairmont-nanjing-external.jpg" alt="Outside view of the hotel" class="img-fluid" />
      <p class="caption small text-muted">Outside view of the hotel</p>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="figure">
      <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/fairmont-nanjing-lobby.jpg" alt="Lobby on ground floor" class="img-fluid" />
      <p class="caption small text-muted">Lobby on ground floor</p>
    </div>
  </div>
</div>

{% endif %}
