{% if page.lang == "zh" %}
<p>第三届水安全与可持续发展国际高端论坛将在河海大学国际交流中心（隽恒酒店，江苏省南京市西康路1号）举办。</p>
<p>您可以在以下地图中查看酒店的位置：</p>
<ul>
  <li><a href="https://uri.amap.com/marker?position=118.75800669227988,32.056566790817214&amp;coordinate=wgs84&amp;name=河海大学国际交流中心">高德地图</a></li>
  <li><a href="https://www.google.com/maps/search/?api=1&amp;query=32.054528912251,118.76323126614">Google 地图</a></li>
</ul>
<div class="row">
  <div class="col-12 col-md-6">
    <div class="figure">
      <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/venue-hotel-building.jpg" alt="Outside view" class="img-fluid" />
      <p class="caption small text-muted">酒店外观</p>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="figure">
      <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/venue-hotel-entrance.jpg" alt="Main entrance" class="img-fluid" />
      <p class="caption small text-muted">酒店入口</p>
    </div>
  </div>
</div>


{% else %}

<p>The Forum will be held at the International Conference Center &amp; Hotel of Hohai University (Junheng Hotel, 1st Xikang Road, Nanjing).</p>
<p>You may find its position in the following map services:</p>
<ul>
  <li><a href="https://uri.amap.com/marker?position=118.75800669227988,32.056566790817214&amp;coordinate=wgs84&amp;name=河海大学国际交流中心">AutoNavi</a></li>
  <li><a href="https://www.google.com/maps/search/?api=1&amp;query=32.054528912251,118.76323126614">Google Maps</a></li>
</ul>
<div class="row">
  <div class="col-12 col-md-6">
    <div class="figure">
      <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/venue-hotel-building.jpg" alt="Outside view" class="img-fluid" />
      <p class="caption small text-muted">Outside view</p>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="figure">
      <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/venue-hotel-entrance.jpg" alt="Main entrance" class="img-fluid" />
      <p class="caption small text-muted">Main entrance</p>
    </div>
  </div>
</div>

{% endif %}
