{% if page.lang == "zh" %}
<p>如果您需要，可以预定论坛会场所在的酒店（河海大学国际交流中心）住宿。</p>
<p>会场附近的可以选择的酒店还包括：</p>
<p class="alert alert-warning small">请注意，以下酒店信息仅供参阅，您在使用以下信息时敬请注意甄别并自行承担相关责任。如产生任何不便或问题，<a href="/zh/about/oc">论坛组委会</a>不承担相关责任。</p>
<ul>
<li>金盾饭店（虎踞关路21号），可参阅<a href="http://hotels.ctrip.com/hotel/6798819.html">Ctrip.com</a></li>
<li>西苑宾馆（北京西路65号），可参阅<a href="https://hotels.ctrip.com/hotel/795294.html">Ctrip.com</a></li>
<li>瑞迪酒店（广州路223号），可参阅<a href="https://hotels.ctrip.com/hotels/detailPage?hotelId=72184903">Ctrip.com</a></li>
<li>古南都饭店（广州路208号），可参阅<a href="http://www.njgrandhotel.com">酒店官网</a>或<a href="http://hotels.ctrip.com/hotel/419566.html">Ctrip.com</a></li>
</ul>
<h3 id="预定河海大学国际交流中心住宿">预定河海大学国际交流中心住宿</h3>
<p>您可以点击下方的蓝色按钮预定河海大学国际交流中心住宿，我们与酒店的会议协议价格如下：</p>
<div class="card-group mb-3">
  <div class="card bg-transparent">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/accommodation-room-dubqueen.jpg" class="card-img-top" alt="双床房">
    <div class="card-body">
      <h5 class="card-title mb-0">双床房</h5>
      <P class="card-text lead text-success my-0">420元/房/晚</P>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-utensils fa-fw mr-1"></i>含单人早餐</small></p>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-user-friends fa-fw mr-1"></i>最多可容纳2位客人</small></p>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-yen-sign fa-fw mr-1"></i>或<b class="text-danger">460</b>元/房/晚·双人早餐</small></p>
    </div>
  </div>
  <div class="card bg-transparent">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/accommodation-room-kingsize.jpg" class="card-img-top" alt="大床房">
    <div class="card-body">
      <h5 class="card-title mb-0">大床房</h5>
      <P class="card-text lead text-success my-0">420元/房/晚</P>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-utensils fa-fw mr-1"></i>含单人早餐</small></p>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-user-friends fa-fw mr-1"></i>最多可容纳2位客人</small></p>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-yen-sign fa-fw mr-1"></i>或<b class="text-danger">460</b>元/房/晚·双人早餐</small></p>
    </div>
  </div>
</div>
<h4 id="敬请注意">敬请注意：</h4>
<ul>
<li>上述房价为每晚房价，是论坛协议价格，需要提前预定；您在登记入住时酒店可能会请您出示参会凭证，否则酒店保留要求您按照门市价格支付费用的权利。</li>
<li>办理入住时间是14:00以后，如您提前抵达，酒店在有空房的情况下可优先安排提前入住。</li>
<li>退房时间为12:00，最迟不得超过14:00，否则将视情况加收房费；退房请直接至酒店前台办理。</li>
<li>房间预订默认保留至入住当日18:00，如您需要延迟入住时间，请注意额外填写大致抵达时间，酒店会与您联系保留预定。</li>
<li>如果您需要延长住宿时间，请与酒店前台联系，酒店将根据当天酒店预订情况决定。</li>
<li>酒店预定系统将于4月20日12:00（GMT+8）关闭。</li>
<p><a href="accommodation" class="btn btn-block btn-lg btn-primary">前去预定</a></p>
</ul>
{% else %}
<p>If you need, you can book accommodation at the venue hotel of the Forum (International Conference Center &amp; Hotel of Hohai University)</p>
<p>There are other options available around the venue hotel:</p>
<p class="alert alert-warning small">Please be noted that the following information are for your reference only. Please choose carefully and assume any risks by yourself. The <a href="/about/oc">Organising Committee</a> of the Forum is NOT responsible for any inconvenience or problems associated to this.</p>
<ul>
<li>Jindun Hotel (21 Hujuguan Road), please see <a href="http://hotels.ctrip.com/hotel/6798819.html">Ctrip.com</a></li>
<li>Xiyuan Hotel (65 Beijing West Road), please see <a href="https://hotels.ctrip.com/hotel/795294.html">Ctrip.com</a></li>
<li>Ruidi Hotel (223 Guangzhou Road), please see <a href="https://hotels.ctrip.com/hotels/detailPage?hotelId=72184903">Ctrip.com</a></li>
<li>Nanjing Grand Hotel (208 Guangzhou Road), please see <a href="http://www.njgrandhotel.com">Official homepage</a> or <a href="http://hotels.ctrip.com/hotel/419566.html">Ctrip.com</a></li>
</ul>
<h3 id="booking-accommodation-at-the-international-conference-center-hotel-of-hohai-university">Booking accommodation at the International Conference Center &amp; Hotel of Hohai University</h3>
<p>You can click the blue button below to book accommodation at the International Conference Center &amp; Hotel of Hohai University. The discounted prices for participants of the Forum are:</p>
<div class="card-group mb-3">
  <div class="card bg-transparent">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/accommodation-room-dubqueen.jpg" class="card-img-top" alt="Double Room">
    <div class="card-body">
      <h5 class="card-title mb-0">Double Room</h5>
      <P class="card-text lead text-success my-0">420 CNY/Room/Night</P>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-utensils fa-fw mr-1"></i>Breakfast for one guest</small></p>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-user-friends fa-fw mr-1"></i>Maximum two guests</small></p>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-yen-sign fa-fw mr-1"></i>or <b class="text-danger">460</b> CNY/R/N with breakfast for two guests</small></p>
    </div>
  </div>
  <div class="card bg-transparent">
    <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/accommodation-room-kingsize.jpg" class="card-img-top" alt="King Room">
    <div class="card-body">
      <h5 class="card-title mb-0">King Room</h5>
      <P class="card-text lead text-success my-0">420 CNY/Room/Night</P>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-utensils fa-fw mr-1"></i>Breakfast for one guest</small></p>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-user-friends fa-fw mr-1"></i>Maximum two guests</small></p>
      <p class="card-text my-0"><small class="text-muted"><i class="fas fa-yen-sign fa-fw mr-1"></i>or <b class="text-danger">460</b> CNY/R/N with breakfast for two guests</small></p>
    </div>
  </div>
</div>
<h4 id="plese-note">Plese note:</h4>
<ul>
<li>The above prices are for one room per night and is discounted exclusively for participants of the Forum. You might be requested by the hotel to present documents to prove that you are taking part in the Forum, otherwise you might be required to pay at regular market price.</li>
<li>The check-in time is 14:00. The hotel would only be able to offer early check-ins when there are empty rooms available.</li>
<li>The check-out time is 12:00 and could not be extended any further after 14:00, otherwise additonal charges will apply. To check out, please go to the reception desk of the hotel.</li>
<li>Your bookings will be kept until 18:00 on your check-in date. If you need to hold the booking further, please fill in your expected time of arrival and the hotel staff will get in contact with you.</li>
<li>If you decide to extend your stay, please contact the reception desk and your stay could only be extended if there are rooms available.</li>
<li>This booking form will be closed by 12:00 20 April (GMT+8).</li>
</ul>
<p><a href="accommodation" class="btn btn-block btn-lg btn-primary">Book now</a></p>
{% endif %}
