<ul class="search-op-list list-group list-agenda list-group-flush my-4">
  
  <!-- Speakers before tea break -->
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-zhongbo-yu.jpg" class="people-avatar rounded-circle mr-3" alt="Zhongbo Yu"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">08:30 - 08:40</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}余钟波{% else %}Zhongbo Yu{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}河海大学；长江保护与绿色发展研究院{% else %}Hohai University; Yangtze Institute for Conservation ande Development{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}欢迎词{% else %}Welcome speech{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Narendra Tuteja"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">08:40 - 09:00</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}Narendra Tuteja{% else %}Narendra Tuteja{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}世界气象组织、澳大利亚国家气象局{% else %}WP2C in WMO-HydroSOS, Bureau of Meteorology{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}气候变化背景下的水文极端事件管理以及国家层面水资源信息体系的必要性{% else %}Managing hydrological extremes in a changing climate and the need for national water information{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Lihua-Xiong.jpg" class="people-avatar rounded-circle mr-3" alt="Lihua Xiong"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">09:00 - 09:20</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}熊立华{% else %}Lihua Xiong{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}武汉大学{% else %}Wuhan University{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}基于蒸发皿蒸发的中国区域水循环演变规律分析{% else %}An Evaporation Pan Based Study on Changes in Regional Hydrological Cycle of China{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Xinghui-Xia.jpg" class="people-avatar rounded-circle mr-3" alt="Xinghui Xia"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">09:20 - 09:40</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}夏星辉{% else %}Xinghui Xia{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}北京师范大学{% else %}Beijing Normal University{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}青藏高原江河温室气体排放机制及全球重要性{% else %}Greenhouse gas emission from  rivers in Tibet Plateau and its global importance{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Denghua-Yan.jpg" class="people-avatar rounded-circle mr-3" alt="Denghua Yan"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">09:40 - 10:00</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}严登华{% else %}Denghua Yan{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}中国水利水电科学研究院{% else %}China Institute of Water Resources and Hydropower Research{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}题目待定{% else %}Topic to be announced{% endif %}</p></div></div></li>  
  <!-- Tea break -->
  <li class="list-group-item px-0">
    <div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-tea-break.jpg" class="people-avatar rounded-circle mr-3" alt="Tea Break">
      <div class="media-body">
        <p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">10:00 - 10:20</span></p>
        <h5 class="my-0"><b>{% if page.lang == "zh" %}茶歇{% else %}Tea Break{% endif %}</b></h5>
      </div>
    </div>
  </li>

  <!-- Speakers after tea break -->
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Xing-Yuan.JPG" class="people-avatar rounded-circle mr-3" alt="Xing Yuan"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">10:20 - 10:40</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}袁星{% else %}Xing Yuan{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}南京信息工程大学{% else %}Nanjing University of Information Science & Technology{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}题目待翻译{% else %}How to reconcile climate and hydrological attributions for extremes?{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Yueping-Xu.jpg" class="people-avatar rounded-circle mr-3" alt="Yueping Xu"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">10:40 - 11:00</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}许月萍{% else %}Yueping Xu{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}浙江大学{% else %}Zhejiang University{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}气候变化和人类活动对黄河流域水储量变化的影响{% else %}Impacts from Climate Change and Human Activities on Water Availability in the Yellow River Basin{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Qinli Yang"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">11:00 - 11:20</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}杨勤丽{% else %}Qinli Yang{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Associate Professor{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}电子科技大学{% else %}University of Electronic Science and Technology of China{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}气候变化对亚热带潮湿林区流域森林覆盖和径流变化的影响{% else %}Assessing Climate Impact on Forest Cover and Runoff Change in a Humid Subtropical Basin Dominated by Forest{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Jie-Chen-prof.jpg" class="people-avatar rounded-circle mr-3" alt="Jie Chen"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">11:20 - 11:40</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}陈杰{% else %}Jie Chen{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}武汉大学{% else %}Wuhan University{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}全球洪水对未来不同温升条件的响应研究{% else %}Topic to be translated{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Yongqiang-Zhang.jpg" class="people-avatar rounded-circle mr-3" alt="Yongqiang Zhang"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">11:40 - 12:00</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}张永强{% else %}Yongqiang Zhang{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}中国科学院地理科学与资源研究所{% else %}Institute of Geographic Sciences and Natural Resources Research, CAS{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}植被变化对区域和全球蒸散发的影响及其生态水文效应研究{% else %}Impacts of vegetation changes on regional and global evapotranspiration and related ecohydrological effects{% endif %}</p></div></div></li>

  
  <!-- Moderation -->
  <li class="list-group-item px-0">
    <p>{% if page.lang == "zh" %}这一分会由以下专家召集：{% else %}This parallel session is organised by:{% endif %}</p>
    <ul class="people-list p-0">
      
      <!-- Moderators -->
      {% if page.lang == "zh" %}
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-zhongbo-yu.jpg" class="people-avatar rounded-circle mr-3" alt="Zhongbo Yu">
        <div class="media-body">
          <h5 class="mt-0"><strong>余钟波</strong> 教授</h5>
          <p class="text-secondary">河海大学</p>
        </div>
      </li>
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-guoqin-wang.jpg" class="people-avatar rounded-circle mr-3" alt="Guoqing Wang">
        <div class="media-body">
          <h5 class="mt-0"><b>王国庆</b> 教授</h5>
          <p class="text-secondary">南京水利科学研究院</p>
        </div>
      </li>
      {% else %}
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-zhongbo-yu.jpg" class="people-avatar rounded-circle mr-3" alt="Zhongbo Yu">
        <div class="media-body">
          <h5 class="mt-0"><strong>Zhongbo Yu</strong>, Prof.</h5>
          <p class="text-secondary">Hohai University</p>
        </div>
      </li>
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-guoqin-wang.jpg" class="people-avatar rounded-circle mr-3" alt="Guoqing Wang">
        <div class="media-body">
          <h5 class="mt-0"><b>Guoqing Wang</b>, Prof.</h5>
          <p class="text-secondary">Nanjing Hydraulic Research Institute</p>
        </div>
      </li>
      {% endif %}
      

    </ul>

    <p>{% if page.lang == "zh" %}以下秘书处成员将专门协助召集人：{% else %}The two organisers wil be assisted by this member of the Secretariat specifically:{% endif %}</p>

    <ul class="people-list p-0">
      
      {% if page.lang == "zh" %}      
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-shanshui-yuan.jpg" class="people-avatar rounded-circle mr-3" alt="Shanshui Yuan">
        <div class="media-body">
          <h5 class="mt-0"><strong>袁山水</strong> 博士</h5>
          <p class="text-secondary mb-0">河海大学</p>
          <p class="text-info"><i class="fas fa-envelope fa-fw mr-1"></i>ssyuan@yicode.ac</p>
        </div>
      </li>
      {% else %}
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-shanshui-yuan.jpg" class="people-avatar rounded-circle mr-3" alt="Shanshui Yuan">
        <div class="media-body">
          <h5 class="mt-0"><strong>Shanshui Yuan</strong>, Dr.</h5>
          <p class="text-secondary mb-0">Hohai University</p>
          <p class="text-info"><i class="fas fa-envelope fa-fw mr-1"></i>ssyuan@yicode.ac</p>
        </div>
      </li>
      {% endif %}
      
    </ul>
    
  </li>
  
  <li class="list-group-item px-0">
    <h5 class="lead small text-secondary"><i class="fas fa-info-circle fa-fw mr-1"></i>{% if page.lang == "zh" %}此列表可能还将更新。{% else %}This list might be updated further.{% endif %}</h5>
  </li>
  
  
</ul>
