<ul class="search-op-list list-group list-agenda list-group-flush my-4">
  
  <!-- Speakers before tea break -->
  <li class="list-group-item px-0"><div class="media people-card"><img src="/assets/img/avatars/avatar-Jianmin-Zhang.jpg" class="people-avatar rounded-circle mr-3" alt="Jianmin Zhang"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">09:00 - 09:20</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}张建民{% else %}Jianmin Zhang{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}四川大学{% else %}sichuan University{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}高速水流精细数值模拟与掺气减蚀机理{% else %}Mechanism of aeration and Numerical Simulation of high speed flow{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="/assets/img/avatars/avatar-Yuhong-Zeng.jpg" class="people-avatar rounded-circle mr-3" alt="yuhong Zeng"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">09:20 - 09:40</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}曾玉红{% else %}yuhong Zeng{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}武汉大学{% else %}wuhan university{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}生态水力学领域的研究进展{% else %}Research progress of ecohydraulics{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="/assets/img/avatars/avatar-Yindong-Tong.jpg" class="people-avatar rounded-circle mr-3" alt="yindong Tong"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">09:40 - 10:00</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}童银栋{% else %}yindong Tong{% endif %}</b>{% if page.lang == "zh" %} 副教授{% else %}, Associate Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}天津大学{% else %}Tianjin University{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}中国淡水湖泊氮磷含量的最新趋势及其与人类相关污染源变化的关系{% else %}A Recent Trend of N:P stoichiometry in China's Freshwater Lakes and their Linkages with the Shifts in Anthropogenic Sources{% endif %}</p></div></div></li>
  
  <!-- Tea break -->
  <li class="list-group-item px-0">
    <div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-tea-break.jpg" class="people-avatar rounded-circle mr-3" alt="Tea Break">
      <div class="media-body">
        <p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">10:00 - 10:20</span></p>
        <h5 class="my-0"><b>{% if page.lang == "zh" %}茶歇{% else %}Tea Break{% endif %}</b></h5>
      </div>
    </div>
  </li>

  <!-- Speakers after tea break -->
  <li class="list-group-item px-0"><div class="media people-card"><img src="/assets/img/avatars/avatar-Xiaobo-Liu.jpg" class="people-avatar rounded-circle mr-3" alt="Xiaobo Liu"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">10:20 - 10:40</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}刘晓波{% else %}Xiaobo Liu{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}中国水利水电科学研究所{% else %}China Institute of Water Resources and Hydropower{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}江湖关系变化下鄱阳湖生态水文过程演变{% else %}Changes of Eco-hydrology process of Poyang Lake to river-lake relation: from 2003 to 2030{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Fang Yang"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">10:40 - 11:00</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}杨芳{% else %}Fang Yang{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}珠江水利科学研究院{% else %}The Pearl River Hydraulic Research Institute{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}珠江三角洲海水入侵情势变化以及降低盐碱度的措施分析{% else %}Changes of seawater invention situation in the Pearl River estuary and salinity reduction solutions{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="/assets/img/avatars/avatar-Huacheng-Xu.jpg" class="people-avatar rounded-circle mr-3" alt="Huacheng Xu"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">11:00 - 11:20</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}徐华成{% else %}Huacheng Xu{% endif %}</b>{% if page.lang == "zh" %} 博士{% else %}, Dr{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}中国科学院南京地理与湖泊研究所{% else %}Nanjing Institute of Geography and Limnology, Chinese Academy of Sciences{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}水环境中的天然有机物质对环境的作用及影响{% else %}Environmental behaviors and effects of natural organic matters in aquatic environments{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="/assets/img/avatars/avatar-Wenchao-Sun.jpg" class="people-avatar rounded-circle mr-3" alt="Wenchao Sun"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">11:20 - 11:40</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}孙文超{% else %}Wenchao Sun{% endif %}</b>{% if page.lang == "zh" %} 副教授{% else %}, Associate Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}北京师范大学{% else %}Beijing Normal University{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}利用卫星监测河面宽度数据验证长江上游一支流流域的降水径流模型{% else %}Rainfall-runoff Model Calibration for a Tributary of the Upper Yangtze River Using Satellite Observations of River Water Surface Width{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="/assets/img/avatars/avatar-Wei-He.jpg" class="people-avatar rounded-circle mr-3" alt="Wei He"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">11:40 - 12:00</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}贺蔚{% else %}Wei He{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}大型水库年内径流分布变化及其对水温结构的影响研究{% else %}Long-term trend of intra-annual runoff uniformity and its effects on the thermal structure in a large deep reservoir{% endif %}</p></div></div></li>
  
  
  <!-- Moderation -->
  <li class="list-group-item px-0">
    <p>{% if page.lang == "zh" %}这一分会由以下专家召集：{% else %}This parallel session is organised by:{% endif %}</p>
    <ul class="people-list p-0">
      
      <!-- Moderators -->
      {% if page.lang == "zh" %}
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-qiuwen-chen.jpg" class="people-avatar rounded-circle mr-3" alt="Qiuwen Chen">
        <div class="media-body">
          <h5 class="mt-0"><strong>陈求稳</strong> 教授</h5>
          <p class="text-secondary">南京水利科学研究院</p>
        </div>
      </li>
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-zulin-hua.jpg" class="people-avatar rounded-circle mr-3" alt="Zulin Hua">
        <div class="media-body">
          <h5 class="mt-0"><b>华祖林</b> 教授</h5>
          <p class="text-secondary">河海大学</p>
        </div>
      </li>
      {% else %}
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-qiuwen-chen.jpg" class="people-avatar rounded-circle mr-3" alt="Qiuwen Chen">
        <div class="media-body">
          <h5 class="mt-0"><strong>Qiuwen Chen</strong>, Prof.</h5>
          <p class="text-secondary">Nanjing Hydraulic Research Institute</p>
        </div>
      </li>
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-zulin-hua.jpg" class="people-avatar rounded-circle mr-3" alt="Zulin Hua">
        <div class="media-body">
          <h5 class="mt-0"><b>Zulin Hua</b>, Prof.</h5>
          <p class="text-secondary">Hohai University</p>
        </div>
      </li>
      {% endif %}
      

    </ul>

    <p>{% if page.lang == "zh" %}以下秘书处成员将专门协助召集人：{% else %}The two organisers wil be assisted by this member of the Secretariat specifically:{% endif %}</p>

    <ul class="people-list p-0">
      
      {% if page.lang == "zh" %}      
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-guangqiu-jin.jpg" class="people-avatar rounded-circle mr-3" alt="Guangqiu Jin">
        <div class="media-body">
          <h5 class="mt-0"><strong>金光球</strong> 博士</h5>
          <p class="text-secondary mb-0">河海大学</p>
          <p class="text-info"><i class="fas fa-envelope fa-fw mr-1"></i>jingq@hhu.edu.cn</p>
        </div>
      </li>
      {% else %}
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-guangqiu-jin.jpg" class="people-avatar rounded-circle mr-3" alt="Guangqiu Jin">
        <div class="media-body">
          <h5 class="mt-0"><strong>Guangqiu Jin</strong>, Dr.</h5>
          <p class="text-secondary mb-0">Hohai University</p>
          <p class="text-info"><i class="fas fa-envelope fa-fw mr-1"></i>jingq@hhu.edu.cn</p>
        </div>
      </li>
      {% endif %}
      
    </ul>
    
  </li>
  
  <li class="list-group-item px-0">
    <h5 class="lead small text-secondary"><i class="fas fa-info-circle fa-fw mr-1"></i>{% if page.lang == "zh" %}此列表可能还将更新。{% else %}This list might be updated further.{% endif %}</h5>
  </li>
  
  
</ul>
