<ul class="search-op-list list-group list-agenda list-group-flush my-4">
  
  <!-- Speakers before tea break -->
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Larry-Li.jpg" class="people-avatar rounded-circle mr-3" alt="Bai-Lian (Larry) Li"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">09:00 - 09:15</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}Bai-Lian (Larry) Li{% else %}Bai-Lian (Larry) Li{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}美国加州大学河滨分校{% else %}University of California, Riverside{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}可持续流域管理和修复中植被与水文关系的理论研究进展{% else %}Advancing theoretical studies of vegetation-hydrological relations for sustainable watershed management and restoration{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Anthony-Jakeman.jpg" class="people-avatar rounded-circle mr-3" alt="Tony Jakeman"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">09:15 - 09:30</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}Tony Jakeman{% else %}Tony Jakeman{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}澳大利亚国立大学{% else %}Institute for Water Futures, Fenner School of Environment and Society, Australian National University{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}综合评估和模拟在流域管理与水安全中的作用{% else %}The role of integrated assessment and modelling in river basin management and water security{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-junguo-liu.jpg" class="people-avatar rounded-circle mr-3" alt="Junguo Liu"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">09:30 - 09:45</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}刘俊国{% else %}Junguo Liu{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}南方科技大学{% else %}Southern University of Science and Technology，China{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}湄公河流域的水安全与可持续发展{% else %}Water security and sustainability in the Mekong River Basin{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Ji-Chen.jpg" class="people-avatar rounded-circle mr-3" alt="Ji Chen"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">09:45 - 10:00</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}陈骥{% else %}Ji Chen{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}香港大学{% else %}Department of Civil Engineering, The University of Hong Kong, China{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}粤港澳大湾区水资源管理面临的挑战及机遇{% else %}Challenges and Opportunities of Water Resources Management Facing in the Guangdong-Hong Kong-Macao Greater Bay Area, China{% endif %}</p></div></div></li>
  
  <!-- Tea break -->
  <li class="list-group-item px-0">
    <div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-tea-break.jpg" class="people-avatar rounded-circle mr-3" alt="Tea Break">
      <div class="media-body">
        <p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">10:00 - 10:20</span></p>
        <h5 class="my-0"><b>{% if page.lang == "zh" %}茶歇{% else %}Tea Break{% endif %}</b></h5>
      </div>
    </div>
  </li>

  <!-- Speakers after tea break -->
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Dawen-Yang.jpg" class="people-avatar rounded-circle mr-3" alt="Dawen Yang"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">10:20 - 10:35</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}杨大文{% else %}Dawen Yang{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}清华大学{% else %}Tsing Hua University{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}青藏高原多年冻土层变化对地区水资源和碳预算的影响{% else %}Effects of Permafrost Change in the Tibetan Plateau on Regional Water Resources and Carbon Budget{% endif %}</p></div></div></li>
<li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Huimin-Wang.jpg" class="people-avatar rounded-circle mr-3" alt="Huimin Wang"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">10:35 - 10:50</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}王慧敏{% else %}Huimin Wang{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}流域高质量发展中的水·粮食·能源纽带关系协同治理{% else %}Synergistic Governance of Water-Energy-Food Nexus for Basin-wide High-quality Development{% endif %}</p></div></div></li>
<li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Qiuhong-Tang.jpg" class="people-avatar rounded-circle mr-3" alt="Qiuhong Tang"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">10:50 - 11:05</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}汤秋鸿{% else %}Qiuhong Tang{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}中科院地理所{% else %} Institute of Geographic Sciences and Natural Resources Research, Chinese Academy of Sciences{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}一套中国干旱与洪涝检测预报系统{% else %}A Monitoring and Forecast System for Drought and Flood over China{% endif %}</p></div></div></li>
<li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Wanzhan Wang"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">11:05 - 11:20</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}王万战{% else %}Wanzhan Wang{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}黄河水利科学研究院{% else %}Yellow River Institute of Hydraulic Research， China{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}黄河三角洲及其周边海域的综合管理策略{% else %}Integrated Management Strategy for the Yellow River Delta and its Ambient Sea Area{% endif %}</p></div></div></li>
<li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-ke-zhang.jpg" class="people-avatar rounded-circle mr-3" alt="Ke Zhang"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">11:20 - 11:35</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}张珂{% else %}Ke Zhang{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}近40年内卫星监测的青藏高原生态水文变化{% else %}Satellite-observed ecohydrological changes in Qinghai-Tibetan Plateau over the past four decades{% endif %}</p></div></div></li>
  


  
  <!-- Moderation -->
  <li class="list-group-item px-0">
    <p>{% if page.lang == "zh" %}这一分会由以下专家召集：{% else %}This parallel session is organised by:{% endif %}</p>
    <ul class="people-list p-0">
      
      <!-- Moderators -->
      {% if page.lang == "zh" %}
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-junguo-liu.jpg" class="people-avatar rounded-circle mr-3" alt="刘俊国">
        <div class="media-body">
          <h5 class="mt-0"><strong>刘俊国</strong> 教授</h5>
          <p class="text-secondary">南方科技大学</p>
        </div>
      </li>
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-ke-zhang.jpg" class="people-avatar rounded-circle mr-3" alt="Ke Zhang">
        <div class="media-body">
          <h5 class="mt-0"><b>张珂</b> 教授</h5>
          <p class="text-secondary">河海大学</p>
        </div>
      </li>
      {% else %}
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-junguo-liu.jpg" class="people-avatar rounded-circle mr-3" alt="Junguo Liu">
        <div class="media-body">
          <h5 class="mt-0"><strong>Junguo Liu</strong>, Prof.</h5>
          <p class="text-secondary">Southern University of Science and Technology</p>
        </div>
      </li>
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-ke-zhang.jpg" class="people-avatar rounded-circle mr-3" alt="Ke Zhang">
        <div class="media-body">
          <h5 class="mt-0"><b>Ke Zhang</b>, Prof.</h5>
          <p class="text-secondary">Hohai University</p>
        </div>
      </li>
      {% endif %}
      

    </ul>

    <p>{% if page.lang == "zh" %}以下秘书处成员将专门协助召集人：{% else %}The two organisers wil be assisted by this member of the Secretariat specifically:{% endif %}</p>

    <ul class="people-list p-0">
      
      {% if page.lang == "zh" %}      
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-jina-yin.jpg" class="people-avatar rounded-circle mr-3" alt="Jina Yin">
        <div class="media-body">
          <h5 class="mt-0"><strong>尹吉娜</strong> 博士</h5>
          <p class="text-secondary mb-0">河海大学</p>
          <p class="text-info"><i class="fas fa-envelope fa-fw mr-1"></i>jnyin@yicode.ac</p>
        </div>
      </li>
      {% else %}
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-jina-yin.jpg" class="people-avatar rounded-circle mr-3" alt="Jina Yin">
        <div class="media-body">
          <h5 class="mt-0"><strong>Jina Yin</strong>, Dr.</h5>
          <p class="text-secondary mb-0">Hohai University</p>
          <p class="text-info"><i class="fas fa-envelope fa-fw mr-1"></i>jnyin@yicode.ac</p>
        </div>
      </li>
      {% endif %}
      
    </ul>
    
  </li>
  
  <li class="list-group-item px-0">
    <h5 class="lead small text-secondary"><i class="fas fa-info-circle fa-fw mr-1"></i>{% if page.lang == "zh" %}此列表可能还将更新。{% else %}This list might be updated further.{% endif %}</h5>
  </li>
  
  
</ul>
