<ul class="search-op-list list-group list-agenda list-group-flush my-4">
  
  <!-- Speakers before tea break -->
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Jian-Luo.jpg" class="people-avatar rounded-circle mr-3" alt="Jian Luo"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">09:00 - 09:20</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}罗剑{% else %}Jian Luo{% endif %}</b>{% if page.lang == "zh" %} 副教授{% else %}, Associate Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}佐治亚理工学院土木与环境工程学院{% else %}School of Civil and Environmental Engineering, Georgia Institute of Technology{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}小型岛屿的地下淡水透镜体生成{% else %}Groundwater Lens Development in Small Islands{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Xiaohong-Chen.jpg" class="people-avatar rounded-circle mr-3" alt="Xiaohong Chen"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">09:20 - 09:40</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}陈晓宏{% else %}Xiaohong Chen{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}中山大学水资源与环境研究中心{% else %}Center for Water Resources and Environment, Sun Yat-sen University{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}气候变化下的水力发电以及生态调度：以澜沧江下游梯级电站为例{% else %}Hydropower generation and ecological operation under climate change: a case study of the downstream cascade of Lancang River hydropower plants{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-zongxue-xu.jpg" class="people-avatar rounded-circle mr-3" alt="Zongxue Xu"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">09:40 - 10:00</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}徐宗学{% else %}Zongxue Xu{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}北京师范大学水科学研究院{% else %}College of Water Sciences, Beijing Normal University{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}雅鲁藏布江流域的水文循环过程以及径流变化成因分析{% else %}Evolution of Hydrological Cycle and Attribution Analysis of Runoff Variation in the Yarlung Zangbo River Basin{% endif %}</p></div></div></li>
  
  <!-- Tea break -->
  <li class="list-group-item px-0">
    <div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-tea-break.jpg" class="people-avatar rounded-circle mr-3" alt="Tea Break">
      <div class="media-body">
        <p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">10:00 - 10:20</span></p>
        <h5 class="my-0"><b>{% if page.lang == "zh" %}茶歇{% else %}Tea Break{% endif %}</b></h5>
      </div>
    </div>
  </li>

  <!-- Speakers after tea break -->
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Yanqing-Lian.jpg" class="people-avatar rounded-circle mr-3" alt="Yanqing Lian"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">10:20 - 10:40</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}连炎清{% else %}Yanqing Lian{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}中科院地球环境研究所{% else %}Institute of Earth Environment, Chinese Academy of Sciences{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}洪湖湿地生态系统修复的系统研究{% else %}A systematic study for the ecosystem restoration of Honghu wetland{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Yi-Zheng.jpg" class="people-avatar rounded-circle mr-3" alt="Yi Zheng"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">10:40 - 11:00</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}郑一{% else %}Yi Zheng{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}南方科技大学{% else %}Southern University of Science and Technology{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}生态水文模拟与水资源管理：从田间尺度到流域尺度{% else %}Ecohydrological modeling and water resources management: from field scale to basin scale{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-blank.jpg" class="people-avatar rounded-circle mr-3" alt="Lihong Yang"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">11:00 - 11:20</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}杨丽红{% else %}Lihong Yang{% endif %}</b>{% if page.lang == "zh" %} 博士 总工{% else %}, Dr, Chief Engineer{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}中节能大地环境修复有限公司{% else %}China Energy Conservation DADI Environmental Remediation Co., Ltd.{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}区域尺度模型框架在地下水硝酸盐污染管理中的应用{% else %}Applying a Regional Transport Modeling Framework to Manage Nitrate Contamination of Groundwater{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Qi-Zhang.jpg" class="people-avatar rounded-circle mr-3" alt="Qi Zhang"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">11:20 - 11:40</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}张奇{% else %}Qi Zhang{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}长江保护与绿色发展研究院{% else %}Yangtze Institute for Conservation and Development{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}长江中游江河互动关系的研究{% else %}Lake-River interactions in the middle Yangtze River{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Qingyun-Duan.jpg" class="people-avatar rounded-circle mr-3" alt="Qingyun Duan"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">11:40 - 12:00</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}段青云{% else %}Qingyun Duan{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}河海大学水文水资源学院{% else %}College of Hydrology and Water Resources, Hohai University{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}青藏高原地区CMIP5和CMIP6气候变化模拟及预测结果对比分析{% else %}Comparing CMIP5 and CMIP6 Climate Change Simulations and Projections over the Pan Third  Pole Environment (PTPE) Region{% endif %}</p></div></div></li>  


  
  <!-- Moderation -->
  <li class="list-group-item px-0">
    <p>{% if page.lang == "zh" %}这一分会由以下专家召集：{% else %}This parallel session is organised by:{% endif %}</p>
    <ul class="people-list p-0">
      
      <!-- Moderators -->
      {% if page.lang == "zh" %}
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-chunmiao-zheng.jpg" class="people-avatar rounded-circle mr-3" alt="TBD">
        <div class="media-body">
          <h5 class="mt-0"><strong>郑春苗</strong> 教授</h5>
          <p class="text-secondary">南方科技大学</p>
        </div>
      </li>
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-chlu.jpg" class="people-avatar rounded-circle mr-3" alt="Chunhui Lu">
        <div class="media-body">
          <h5 class="mt-0"><b>鲁春辉</b> 教授</h5>
          <p class="text-secondary">河海大学</p>
        </div>
      </li>
      {% else %}
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-chunmiao-zheng.jpg" class="people-avatar rounded-circle mr-3" alt="Chunmiao Zheng">
        <div class="media-body">
          <h5 class="mt-0"><strong>Chunmiao Zheng</strong>, Prof.</h5>
          <p class="text-secondary">Southern University of Science and Technology</p>
        </div>
      </li>
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-chlu.jpg" class="people-avatar rounded-circle mr-3" alt="Chunhui Lu">
        <div class="media-body">
          <h5 class="mt-0"><b>Chunhui Lu</b>, Prof.</h5>
          <p class="text-secondary">Hohai University</p>
        </div>
      </li>
      {% endif %}
      

    </ul>

    <p>{% if page.lang == "zh" %}以下秘书处成员将专门协助召集人：{% else %}The two organisers wil be assisted by this member of the Secretariat specifically:{% endif %}</p>

    <ul class="people-list p-0">
      
      {% if page.lang == "zh" %}      
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-jiangjiang-zhang.jpg" class="people-avatar rounded-circle mr-3" alt="Jiangjiang Zhang">
        <div class="media-body">
          <h5 class="mt-0"><strong>张江江</strong> 博士</h5>
          <p class="text-secondary mb-0">河海大学</p>
          <p class="text-info"><i class="fas fa-envelope fa-fw mr-1"></i>zhangjiangjiang.dz@163.com</p>
        </div>
      </li>
      {% else %}
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-jiangjiang-zhang.jpg" class="people-avatar rounded-circle mr-3" alt="Jiangjiang Zhang">
        <div class="media-body">
          <h5 class="mt-0"><strong>Jiangjiang Zhang</strong>, Dr.</h5>
          <p class="text-secondary mb-0">Hohai University</p>
          <p class="text-info"><i class="fas fa-envelope fa-fw mr-1"></i>zhangjiangjiang.dz@163.com</p>
        </div>
      </li>
      {% endif %}
      
    </ul>
    
  </li>
  
  <li class="list-group-item px-0">
    <h5 class="lead small text-secondary"><i class="fas fa-info-circle fa-fw mr-1"></i>{% if page.lang == "zh" %}此列表可能还将更新。{% else %}This list might be updated further.{% endif %}</h5>
  </li>
  
  
</ul>
