<ul class="search-op-list list-group list-agenda list-group-flush my-4">
  
  <!-- Speakers before tea break -->
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-mingshan-lei.jpg" class="people-avatar rounded-circle mr-3" alt="Mingshan Lei"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">09:00 - 09:30</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}雷鸣山{% else %}Mingshan Lei{% endif %}</b>{% if page.lang == "zh" %} 董事长{% else %}, Chairman{% endif %}<span class="ml-2 badge badge-info">{% if page.lang == "zh" %}大会报告{% else %}Plenary speaker{% endif %}</span></h5><p class="text-secondary">{% if page.lang == "zh" %}中国三峡集团{% else %}China Three Gorges Corporation{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}两翼齐飞战略 助力长江水安全{% else %}Clean Energy and Ecology, the Two Wings for Water Security of the Yangtze River{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-yong-jiao.jpg" class="people-avatar rounded-circle mr-3" alt="Yong Jiao"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">09:30 - 10:00</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}矫勇{% else %}Yong Jiao{% endif %}</b>{% if page.lang == "zh" %} 博士{% else %}, Dr{% endif %}<span class="ml-2 badge badge-info">{% if page.lang == "zh" %}大会报告{% else %}Plenary speaker{% endif %}</span></h5><p class="text-secondary">{% if page.lang == "zh" %}人大环境与资源保护委员会；中国水利部原副部长{% else %}Environmental Protection and Resources Conservation Committee, NPC; Former Vice Minister of Water Resources of China{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}题目待定{% else %}Topic to be announced{% endif %}</p></div></div></li>

  <!-- Tea break -->
  <li class="list-group-item px-0">
    <div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-tea-break.jpg" class="people-avatar rounded-circle mr-3" alt="Tea Break">
      <div class="media-body">
        <p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">10:00 - 10:20</span></p>
        <h5 class="my-0"><b>{% if page.lang == "zh" %}茶歇{% else %}Tea Break{% endif %}</b></h5>
      </div>
    </div>
  </li>

  <!-- Speakers after tea break -->
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-annan-wang.jpg" class="people-avatar rounded-circle mr-3" alt="Annan Wang"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">10:20 - 10:50</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}汪安南{% else %}Annan Wang{% endif %}</b>{% if page.lang == "zh" %} 总规划师{% else %}, Chief Planner{% endif %}<span class="ml-2 badge badge-info">{% if page.lang == "zh" %}大会报告{% else %}Plenary speaker{% endif %}</span></h5><p class="text-secondary">{% if page.lang == "zh" %}中国水利部{% else %}Ministry of Water Resources of the People's Republic of China{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}题目待定{% else %}Topic to be announced{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-zhiyu-zhong.jpg" class="people-avatar rounded-circle mr-3" alt="Zhiyu Zhong"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">10:50 - 11:20</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}仲志余{% else %}Zhiyu Zhong{% endif %}</b>{% if page.lang == "zh" %} 总工程师{% else %}, Chief Engineer{% endif %}<span class="ml-2 badge badge-info">{% if page.lang == "zh" %}大会报告{% else %}Plenary speaker{% endif %}</span></h5><p class="text-secondary">{% if page.lang == "zh" %}长江水利委员会{% else %}Changjiang Water Resources Commission{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}题目待定{% else %}Topic to be announced{% endif %}</p></div></div></li>
  
  <!-- Panel discussion -->
  <li class="list-group-item px-0">
    <div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-group.jpg" class="people-avatar rounded-circle mr-3" alt="Group">
      <div class="media-body">
        <p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">11:20 - 12:00</span></p>
        <h5 class="my-0"><b>{% if page.lang == "zh" %}小组讨论{% else %}Panel Discussion{% endif %}</b></h5>
        <ul class="people-list p-0">
          <li class="media my-2"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-group.jpg" class="people-avatar rounded-circle mr-3" alt="Group">
            <div class="media-body">
              <h5 class="mt-0"><b>{% if page.lang == "zh" %}本单元所有报告人{% else %}All speakers of this session{% endif %}</b></h5>
              <p class="text-secondary">&nbsp;</p>
            </div>
          </li>
          
          <!-- Panellists -->
          <li class="media my-2"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-liyun.jpg" class="people-avatar rounded-circle mr-3" alt="Yun Li"><div class="media-body"><h5 class="mt-0">{% if page.lang == "zh" %}<b>李云</b> 教授<span class="ml-2 badge badge-info">小组讨论专家</span>{% else %}<b>Yun Li</b>, Prof<span class="ml-2 badge badge-info">Panelist</span>{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}南京水利科学研究院{% else %}Nanjing Hydraulic Reasearch Institute{% endif %}</p></div></li>
          <li class="media my-2"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-zhenlinlju.jpg" class="people-avatar rounded-circle mr-3" alt="Zhenlin Lju"><div class="media-body"><h5 class="mt-0">{% if page.lang == "zh" %}<b>吕振霖</b> 原厅长<span class="ml-2 badge badge-info">小组讨论专家</span>{% else %}<b>Zhenlin Lyu</b>, Former DG<span class="ml-2 badge badge-info">Panelist</span>{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}江苏省水利厅{% else %}Jiangsu Provincial Water Department{% endif %}</p></div></li>
          <li class="media my-2"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-xiaotao-cheng.jpg" class="people-avatar rounded-circle mr-3" alt="Xiaotao Cheng"><div class="media-body"><h5 class="mt-0">{% if page.lang == "zh" %}<b>程晓陶</b> 教授<span class="ml-2 badge badge-info">小组讨论专家</span>{% else %}<b>Xiaotao Cheng</b>, Prof<span class="ml-2 badge badge-info">Panelist</span>{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}中国水利水电科学研究院{% else %}China Institute of Water Resources and Hydropower Research{% endif %}</p></div></li>
          
        </ul>
      </div>
    </div>
  </li>

  
  <!-- Moderation -->
  <li class="list-group-item px-0">
    <ul class="people-list p-0">
      
      <!-- Moderators -->
      <li class="media my-2"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-shenglianguo.jpg" class="people-avatar rounded-circle mr-3" alt="Shenglian Guo"><div class="media-body"><h5 class="mt-0">{% if page.lang == "zh" %}<b>郭生练</b> 院士<span class="ml-2 badge badge-info">主持人</span>{% else %}<b>Shenglian Guo</b>, Prof<span class="ml-2 badge badge-info">Moderator</span>{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}武汉大学{% else %}Wuhan University{% endif %}</p></div></li>
      <li class="media my-2"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-jianhua-wang.jpg" class="people-avatar rounded-circle mr-3" alt="Jianhua Wang"><div class="media-body"><h5 class="mt-0">{% if page.lang == "zh" %}<b>王建华</b> 教授<span class="ml-2 badge badge-info">主持人</span>{% else %}<b>Jianhua Wang</b>, Prof<span class="ml-2 badge badge-info">Moderator</span>{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}中国水利水电科学研究院{% else %}China Institute of Water Resources and Hydropower Research{% endif %}</p></div></li>


    </ul>
  </li>
  
  
</ul>
