  <form id="form_15840" class="form-inline">
    <span>Is this page helpful? </span>
    <span class="form-check w-auto mx-2">
      <input id="element_3_1" name="element_3" class="form-check-input" type="radio" value="1" required />
      <label class="form-check-label" for="element_3_1">Yes</label></span>
    <span class="form-check w-auto mx-2">
      <input id="element_3_2" name="element_3" class="form-check-input" type="radio" value="2" />
      <label class="form-check-label" for="element_3_2">No</label></span>
    <input id="element_1" name="element_1" class="element text medium" type="hidden" placeholder="Page Name" value="{{ page.title }}" />
    <input id="element_2" name="element_2" class="element text medium" type="hidden" placeholder="Page URL" value="{{ site.baseurl }}{{ page.url }}" />
    <input type="hidden" name="form_id" value="15840" />
    <input type="hidden" name="submit_form" value="1" />
    <input type="hidden" name="page_number" value="1" />
    <input id="submit_form" class="btn btn-sm btn-outline-primary" type="submit" name="submit_form" value="Vote" />
  </form>
  <script src="/assets/js/rate-page.js"></script>
