<div class="card-deck mx-n1 mb-3">
  <div class="card bg-light mx-1">
    <div class="card-body text-center">
      <h5 class="card-title">{% if page.lang == "zh" %}在线{% else %}Online{% endif %}</h5>
      <p class="card-text mb-0"><span class="display-4 text-success">{% if page.lang == "zh" %}免费{% else %}Free{% endif %}</span></p>
      <p class="card-text text-muted small">{% if page.lang == "zh" %}仅限在线参加{% else %}Online participats only{% endif %}</p>
    </div>
    <div class="card-footer">
      <ul class="list-unstyled card-text small text-left">
        <li><i class="fas fa-check-circle text-success mr-1"></i>{% if page.lang == "zh" %}在线参会{% else %}Virtual Admittance{% endif %}</li>
      </ul>
    </div>
  </div>
  <div class="card bg-light mx-1">
    <div class="card-body text-center">
      <h5 class="card-title">{% if page.lang == "zh" %}普通{% else %}General{% endif %}</h5>
      <p class="price-early-bird text-primary card-text mb-0"><span class="display-4">350</span><sub>{% if page.lang == "zh" %}美元{% else %}USD{% endif %}</sub></p>
      <p class="price-early-bird text-primary small card-text mb-0"><span class="lead">2450</span><sub>{% if page.lang == "zh" %}人民币{% else %}CNY{% endif %}</sub></p>
      <p class="price-normal card-text mb-0"><span class="display-4">500</span><sub>{% if page.lang == "zh" %}美元{% else %}USD{% endif %}</sub></p>
      <p class="price-normal small card-text mb-0"><span class="lead">3500</span><sub>{% if page.lang == "zh" %}人民币{% else %}CNY{% endif %}</sub></p>
      <p class="card-text text-muted small">{% if page.lang == "zh" %}线下参会通用价格{% else %}General plan for offline participants{% endif %}</p>
    </div>
    <div class="card-footer">
      <ul class="list-unstyled card-text small text-left">
        <li><i class="fas fa-check-circle text-success mr-1"></i>{% if page.lang == "zh" %}入场{% else %}Admittance{% endif %}</li>
        <li><i class="fas fa-check-circle text-success mr-1"></i>{% if page.lang == "zh" %}印刷材料{% else %}Printouts{% endif %}</li>
        <li><i class="fas fa-check-circle text-success mr-1"></i>{% if page.lang == "zh" %}每日午餐{% else %}Daily lunch{% endif %}</li>
        <li><i class="fas fa-check-circle text-success mr-1"></i>{% if page.lang == "zh" %}每日茶歇{% else %}Daily tea breaks{% endif %}</li>
        <li><i class="fas fa-check-circle text-success mr-1"></i>{% if page.lang == "zh" %}欢迎宴会{% else %}Welcome reception{% endif %}</li>
        <li><i class="fas fa-check-circle text-success mr-1"></i>{% if page.lang == "zh" %}技术参观{% else %}Technical tour{% endif %}</li>
        <li><i class="fas fa-check-circle text-success mr-1"></i>{% if page.lang == "zh" %}其他线下福利{% else %}Other offline benefits{% endif %}</li>
      </ul>
    </div>
  </div>
  <div class="card bg-light mx-1">
    <div class="card-body text-center">
      <h5 class="card-title">{% if page.lang == "zh" %}学生{% else %}Student{% endif %}</h5>
      <p class="price-early-bird text-primary card-text mb-0"><span class="display-4">140</span><sub>{% if page.lang == "zh" %}美元{% else %}USD{% endif %}</sub></p>
      <p class="price-early-bird text-primary small card-text mb-0"><span class="lead">1000</span><sub>{% if page.lang == "zh" %}人民币{% else %}CNY{% endif %}</sub></p>
      <p class="price-normal card-text mb-0"><span class="display-4">200</span><sub>{% if page.lang == "zh" %}美元{% else %}USD{% endif %}</sub></p>
      <p class="price-normal small card-text mb-0"><span class="lead">1500</span><sub>{% if page.lang == "zh" %}人民币{% else %}CNY{% endif %}</sub></p>
      <p class="card-text text-muted small">{% if page.lang == "zh" %}学生参会的折扣价格{% else %}Discounted plan for students{% endif %}</p>
    </div>
    <div class="card-footer">
      <ul class="list-unstyled card-text small text-left">
        <li><i class="fas fa-check-circle text-success mr-1"></i>{% if page.lang == "zh" %}入场{% else %}Admittance{% endif %}</li>
        <li><i class="fas fa-check-circle text-success mr-1"></i>{% if page.lang == "zh" %}印刷材料{% else %}Printouts{% endif %}</li>
        <li><i class="fas fa-check-circle text-success mr-1"></i>{% if page.lang == "zh" %}每日午餐{% else %}Daily lunch{% endif %}</li>
        <li><i class="fas fa-check-circle text-success mr-1"></i>{% if page.lang == "zh" %}每日茶歇{% else %}Daily tea breaks{% endif %}</li>
        <li><i class="fas fa-check-circle text-success mr-1"></i>{% if page.lang == "zh" %}欢迎宴会{% else %}Welcome reception{% endif %}</li>
        <li><i class="fas fa-check-circle text-success mr-1"></i>{% if page.lang == "zh" %}技术参观{% else %}Technical tour{% endif %}</li>
        <li><i class="fas fa-check-circle text-success mr-1"></i>{% if page.lang == "zh" %}其他线下福利{% else %}Other offline benefits{% endif %}</li>
      </ul>
    </div>
  </div>
</div>
<ul class="text-info small">
  <li>{% if page.lang == "zh" %}早鸟优惠（<span class="text-primary bg-light px-1">蓝颜色</span>）折扣在2021年3月22日0:00（GMT+8）之前有效。{% else %}Early bird discounts (in <span class="text-warning bg-dark px-1">blue color</span>) end at 0:00 22 March, 2021 (GMT+8).{% endif %}</li>
  <li>{% if page.lang == "zh" %}线下活动可能会根据当地疾控要求进行调整。{% else %}Offline events are subject to changes under local disease control rules.{% endif %}</li>
</ul>
<style>
  .price-early-bird {
    display: --none;
  }

  .price-normal {
    text-decoration: line-through;
    opacity: 0.6;
  }
</style>
