{% if page.lang == "zh" %}
<h5 id="报名注册">报名注册</h5>
<p>报名注册参加第三届水安全与可持续发展国际高端论坛（以下简称“论坛”），阁下必须完成注册流程，如产生相关注册费用，阁下需要在注册页面标示的截止时间之前支付。论坛注册系统视注册报名情况，可能会提前关闭。</p>
<h5 id="费用支付">费用支付</h5>
<p>如阁下所选注册报名类别需支付注册费或其他相关费用，需按照页面说明进行支付。如未能按照要求支付费用，论坛<a href="/zh/about/ac">组织委员会</a>（以下简称“组委会”）保留取消阁下注册报名的权利。论坛和组委会对因此产生的任何直接或间接损失不承担责任。</p>
<h5 id="提前早鸟注册">提前（早鸟）注册</h5>
<p>提前（早鸟）注册的优惠折扣在2021年3月22日00:00（GMT+8时间）前有效，提前注册需在线完成费用支付。</p>
<h5 id="签证信息">签证信息</h5>
<p>如阁下入境中国需要办理签证，组委会强烈建议至少提前一个月在所居住国家进行申请。相关事宜请就近向所在地的中国使领馆或旅行社进行咨询。敬请留意，如阁下搭乘非直达中国的航班，可能需要额外办理中转签证，方可继续前往中国。如阁下需要正式邀请信用于办理签证，可在注册系统内提出，组委会将在阁下完成注册及付费后发出正式邀请，该邀请信不代表组委会对阁下将提供资金支持。</p>
<p>由于当前的Covid大流行疫情，国际旅行可能会受到更多限制。阁下需自行查询并遵守相关国家和地区的疫情防控政策。</p>
<h5 id="取消与变更">取消与变更</h5>
<p>任何取消或变更注册报名需以书面方式通知论坛秘书处。详细联系信息请参阅<a href="/zh/about/sec">秘书处</a>页面。</p>
<h5 id="隐私策略">隐私策略</h5>
<p>完成注册报名即意味着阁下同意组委会依据我们的<a href="/zh/privacy">隐私策略</a>收集、使用或公开在注册过程阁下所提供的个人信息。</p>
<h5 id="风险承担">风险承担</h5>
<p>阁下同意并确认系自愿参加论坛，并将自行承担所有适用法律框架下因参加论坛产生的各种风险。</p>
<h5 id="适用法律">适用法律</h5>
<p>本条款将遵照中华人民共和国相关法律执行，参与论坛相关各方因此同意受中华人民共和国法庭司法管辖权的管辖。</p>
{% else %}
<h5 id="registration">Registration</h5>
<p>To register for the International Forum on Water Security and Sustainability (hereinafter referred to as 'the Forum'), you are required to complete the registration process and pay all required registration fees (if any) prior to any deadlines described on the registration page. Event registrations are subject to availability and may close earlier than posted deadlines.</p>
<h5 id="payment">Payment</h5>
<p>If the selected registration page states that registration fees or other fees are required, payment must be made as instructed by the page. The <a href="/about/ac">Organising Committee</a> (hereinafter referred to as 'the OC') of the Forum reserves the right to cancel your registration without notice for failure to make payments in accordance with these Terms. The Forum and the OC is not responsible for any damages, direct or indirect, resulting from such cancellation.</p>
<h5 id="early-birds">Early birds</h5>
<p>Early bird discount is available before 00:00 March 22, 2021, GMT+8. Early bird registrations are payable online only.</p>
<h5 id="visa-information">Visa Information</h5>
<p>Participants requiring a visa for entry to China are strongly advised to make their application in their home country at least one months before the intended date of travel. Please contact your nearest Chinese Embassy or Consulate or your travel agency for more information. Those who do not fly directly to China should note that you may need a transit visa for some countries in order to continue your travel to China. If a Letter of Invitation is needed for visa application, the OC can send this upon request after completion of registration and payment. The Letter of Invitation does not represent a commitment on the part of the OC to provide financial support.</p>
<p>There might be more restrictions by countries and regions for international travel because of the ongoing Covid pandemic. Participants are advised to check and comply with those rules themselves.</p>
<h5 id="cancellation-and-change">Cancellation and change</h5>
<p>All cancellations and changes must be notified in writing to the Secretariat of the Forum. Please refer to <a href="/about/sec">the Secretariat</a> page for details of contact information.</p>
<h5 id="privacy-policy">Privacy policy</h5>
<p>By registration you consent to the collection, use and disclosure of the information you enter when registering for the Forum in accordance with our <a href="/privacy">Privacy Policy</a>.</p>
<h5 id="assumption-of-risk">Assumption of Risk</h5>
<p>You acknowledge and agree that your attendance and participation in the Forum is voluntary. You agree to assume the risks associated with attending and participating in the Forum to the fullest extent permitted under applicable law.</p>
<h5 id="applicable-law">Applicable Law</h5>
<p>The Terms shall be governed by and construed in accordance with the laws of the People’s Republic of China and the parties hereby consent to the jurisdiction of People’s Republic of China courts over all matters relating to these Terms.</p>
{% endif %}
