<div class="right-sidebar">

  <div role="group" aria-label="Shortcuts" class="btn-group w-100 mb-4">
    <a href="{% if page.lang == "zh" %}/zh/programmes{% else %}/programmes{% endif %}" class="btn btn-outline-info w-50 py-3 text-truncate">
      <i class="fas fa-calendar-alt fa-fw fa-2x"></i><br>{% if page.lang == "zh" %}日程{% else %}Programmes{% endif %}
    </a>
    <a href="{% if page.lang == "zh" %}/zh/take-part/{% else %}/take-part{% endif %}" class="btn btn-outline-primary w-50 py-3 text-truncate">
      <i class="fas fa-user-plus fa-fw fa-2x"></i><br>{% if page.lang == "zh" %}参会{% else %}Take part{% endif %}
    </a>
  </div>
  
  {% include share-buttons.html button_group_class="w-100" %}
  {% include sponsors.html logo_size="col-6 col-md-12 col-lg-6" title_style="text-secondary text-uppercase lead" %}

</div>
