<ul class="search-op-list list-group list-agenda list-group-flush my-4">
  
  <!-- Speakers before tea break -->
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Changchun-Chen.jpg" class="people-avatar rounded-circle mr-3" alt="Changchun Cheng"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">09:00 - 09:20</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}成长春{% else %}Changchun Cheng{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}江苏长江经济带研究院{% else %}Jiangsu Yangtze River Economic Belt Research Institute{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}加快建立长江经济带水生态产品价值实现机制的思路与对策{% else %}Actualisations of the values of the aquatic ecological services of the Yangtze Economic Belt Region{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Lucun-Zhu.jpg" class="people-avatar rounded-circle mr-3" alt="Luchun Zhu"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">09:20 - 09:40</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}朱鲁存{% else %}Luchun Zhu{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}交通运输部规划研究院{% else %}Transport Planning and Research Institute, Ministry of Transport{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}长江水运绿色发展成效及发展方向{% else %}Green water transport on the Yangtze: development and futures{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Guang-Yang.jpg" class="people-avatar rounded-circle mr-3" alt="Guang Yang"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">09:40 - 10:00</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}杨光{% else %}Guang Yang{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}南京师范大学{% else %}Nanjing Normal University{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}长江大保护与长江江豚的未来{% else %}Protection of the Yangtze and the future of the Yangtze finless porpoise{% endif %}</p></div></div></li>
  
  <!-- Tea break -->
  <li class="list-group-item px-0">
    <div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-tea-break.jpg" class="people-avatar rounded-circle mr-3" alt="Tea Break">
      <div class="media-body">
        <p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">10:00 - 10:20</span></p>
        <h5 class="my-0"><b>{% if page.lang == "zh" %}茶歇{% else %}Tea Break{% endif %}</b></h5>
      </div>
    </div>
  </li>

  <!-- Speakers after tea break -->
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Lian-Feng.jpg" class="people-avatar rounded-circle mr-3" alt="Lian Feng"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">10:20 - 10:40</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}冯炼{% else %}Lian Feng{% endif %}</b>{% if page.lang == "zh" %} 副教授{% else %}, Associate Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}南方科技大学{% else %}Southern University of Science and Technology，China{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}基于卫星遥感的长江中下游湖泊水环境长时序变化过程及机制研究{% else %}Aquatic environment of lower Yangtze lakes: an analysis of long-term changes by satellite-based remote sensing{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Da-Chen.jpg" class="people-avatar rounded-circle mr-3" alt="Da Chen"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">10:40 - 11:00</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}陈达{% else %}Da Chen{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}长江岸线保护范围及利用效率评价探讨{% else %}Protection and exploitation efficiency of the Yangtze coast lines{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Shikai-Xu.jpg" class="people-avatar rounded-circle mr-3" alt="Shikai Xu"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">11:00 - 11:20</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}徐世凯{% else %}Shikai Xu{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}南京水利科学研究院{% else %}Nanjing Hydraulic Research Institute{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}太湖水动力水环境研究平台及关键技术{% else %}Studies of the eco-hydraulics of the Taihu Lake: instruments and techniques{% endif %}</p></div></div></li>
  <li class="list-group-item px-0"><div class="media people-card"><img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-Xinhua-Zhu.jpg" class="people-avatar rounded-circle mr-3" alt="Xinhua Zhu"><div class="media-body"><p class="mb-1"><span class="badge badge-pill badge-secondary badge-time text-monospace mr-2 small">11:20 - 11:40</span></p><h5 class="my-0"><b>{% if page.lang == "zh" %}朱新华{% else %}Xinhua Zhu{% endif %}</b>{% if page.lang == "zh" %} 教授{% else %}, Prof{% endif %}</h5><p class="text-secondary">{% if page.lang == "zh" %}河海大学{% else %}Hohai University{% endif %}</p><p class="text-dark mb-3">{% if page.lang == "zh" %}长江流域化工产业转型升级研究{% else %}Transforming and upgrading the chemical industry on the Yangtze{% endif %}</p></div></div></li>

  
  <!-- Moderation -->
  <li class="list-group-item px-0">
    <p>{% if page.lang == "zh" %}这一分会由以下专家召集：{% else %}This parallel session is organised by:{% endif %}</p>
    <ul class="people-list p-0">
      
      <!-- Moderators -->
      {% if page.lang == "zh" %}
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-yongjun-lu.jpg" class="people-avatar rounded-circle mr-3" alt="Yongjun Lu">
        <div class="media-body">
          <h5 class="mt-0"><strong>陆永军</strong> 教授</h5>
          <p class="text-secondary">南京水利科学研究院</p>
        </div>
      </li>
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-yu-liang-zhu.jpg" class="people-avatar rounded-circle mr-3" alt="Yuliang Zhu">
        <div class="media-body">
          <h5 class="mt-0"><b>诸裕良</b> 教授</h5>
          <p class="text-secondary">河海大学</p>
        </div>
      </li>
      {% else %}
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-yongjun-lu.jpg" class="people-avatar rounded-circle mr-3" alt="Yongjun Lu">
        <div class="media-body">
          <h5 class="mt-0"><strong>Yongjun Lu</strong>, Prof.</h5>
          <p class="text-secondary">Nanjing Hydraulic Research Institute</p>
        </div>
      </li>
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-yu-liang-zhu.jpg" class="people-avatar rounded-circle mr-3" alt="Yuliang Zhu">
        <div class="media-body">
          <h5 class="mt-0"><b>Yuliang Zhu</b>, Prof.</h5>
          <p class="text-secondary">Hohai University</p>
        </div>
      </li>
      {% endif %}
      

    </ul>

    <p>{% if page.lang == "zh" %}以下秘书处成员将专门协助召集人：{% else %}The two organisers wil be assisted by this member of the Secretariat specifically:{% endif %}</p>

    <ul class="people-list p-0">
      
      {% if page.lang == "zh" %}      
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-jie-chen.jpg" class="people-avatar rounded-circle mr-3" alt="Jie Chen">
        <div class="media-body">
          <h5 class="mt-0"><strong>陈婕</strong> 女士</h5>
          <p class="text-secondary mb-0">河海大学</p>
          <p class="text-info"><i class="fas fa-envelope fa-fw mr-1"></i>jchen@yicode.ac</p>
        </div>
      </li>
      {% else %}
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-jie-chen.jpg" class="people-avatar rounded-circle mr-3" alt="Jie Chen">
        <div class="media-body">
          <h5 class="mt-0"><strong>Jie Chen</strong>, Miss</h5>
          <p class="text-secondary mb-0">Hohai University</p>
          <p class="text-info"><i class="fas fa-envelope fa-fw mr-1"></i>jchen@yicode.ac</p>
        </div>
      </li>
      {% endif %}
      
    </ul>
    
  </li>
  
  <li class="list-group-item px-0">
    <h5 class="lead small text-secondary"><i class="fas fa-info-circle fa-fw mr-1"></i>{% if page.lang == "zh" %}此列表可能还将更新。{% else %}This list might be updated further.{% endif %}</h5>
  </li>
  
  
</ul>
