<div class="related-orgs mt-4">
  <h5 class="text-secondary text-uppercase lead">{% if page.lang == "zh" %}主办{% else %}Sponsors{% endif %}</h5>
  <div class="row mx-n1 my-1">
    <div class="col-6 col-md-12 col-lg-6 px-1 mt-1">
      <a href="https://www.cae.cn" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="中国工程院" {% else %}title="Chinese Academy of Engineering"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/sponsors/cae.jpg"></a>
    </div>
    <div class="col-6 col-md-12 col-lg-6 px-1 mt-1">
      <a href="http://www.ches.org.cn/" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="中国工程院" {% else %}title="Chinese Hydraulic Engineering Society"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/sponsors/ches.jpg"></a>
    </div>
    <div class="col-6 col-md-12 col-lg-6 px-1 mt-1">
      <a href="http://www.hhu.edu.cn" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="河海大学" {% else %}title="Hohai University"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/sponsors/hhu.jpg"></a>
    </div>
    <div class="col-6 col-md-12 col-lg-6 px-1 mt-1">
      <a href="http://www.nhri.cn" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="南京水利科学研究院" {% else %}title="Nanjing Hydraulic Research Institute"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/sponsors/nhri.jpg"></a>
    </div>
  </div>
</div>
