<div class="related-orgs mt-4">
  <h5 class="text-secondary text-uppercase lead">{% if page.lang == "zh" %}主办{% else %}Sponsors{% endif %}</h5>
  <div class="row mx-n1 mb-4">
    <div class="col-6 col-md-12 col-lg-6 px-1 mt-1">
      <a href="https://www.cae.cn" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="中国工程院" {% else %}title="Chinese Academy of Engineering"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/orgs/cae.jpg"></a>
    </div>
    <div class="col-6 col-md-12 col-lg-6 px-1 mt-1">
      <a href="http://www.ches.org.cn/" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="中国水利学会" {% else %}title="Chinese Hydraulic Engineering Society"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/orgs/ches.jpg"></a>
    </div>
    <div class="col-6 col-md-12 col-lg-6 px-1 mt-1">
      <a href="http://www.hhu.edu.cn" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="河海大学" {% else %}title="Hohai University"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/orgs/hhu.jpg"></a>
    </div>
    <div class="col-6 col-md-12 col-lg-6 px-1 mt-1">
      <a href="http://www.nhri.cn" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="南京水利科学研究院" {% else %}title="Nanjing Hydraulic Research Institute"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/orgs/nhri.jpg"></a>
    </div>
  </div>
  <h5 class="text-secondary text-uppercase lead">{% if page.lang == "zh" %}承办{% else %}Co-hosts{% endif %}</h5>
  <div class="row mx-n1 mb-4">
    <div class="col-6 col-md-12 col-lg-6 px-1 mt-1">
      <a href="http://www.yicode.org.cn" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="长江保护与绿色发展研究院" {% else %}title="Yangtze Institute for Conservation and Development"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/orgs/yicode.jpg"></a>
    </div>
    <div class="col-6 col-md-12 col-lg-6 px-1 mt-1">
      <a href="https://www.cae.cn" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="中国工程院土木水利与建筑学部" {% else %}title="CAE Division of Civil, Hydraulic and Architectural Engineering"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/orgs/ad3cae.jpg"></a>
    </div>
    <div class="col-6 col-md-12 col-lg-6 px-1 mt-1">
      <a href="http://hydro-lab.hhu.edu.cn" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="水文水资源与水工程科学国家重点实验室" {% else %}title="State Key Laboratory of Hydrology-Water Resources and Hydraulic Engineering"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/orgs/skl.jpg"></a>
    </div>
    <div class="col-6 col-md-12 col-lg-6 px-1 mt-1">
      <a href="http://jrc.nhri.cn" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="水科学与水工程国际联合研究中心" {% else %}title="JRC Water Science and Engineering"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/orgs/jrc.jpg"></a>
    </div>
    <div class="col-6 col-md-12 col-lg-6 px-1 mt-1">
      <a href="http://rccc.nhri.cn" class="img-ext-link" data-toggle="tooltip" data-placement="top" {% if page.lang == "zh" %}title="水利部应对气候变化研究中心" {% else %}title="MWR Research Center for Climate Change"{% endif %}><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/orgs/rccc.jpg"></a>
    </div>
  </div>
</div>
