<script src='https://cdn.jsdelivr.net/gh/estds/cdn-res/valine/1.4.14/Valine.min.js'></script>
<div>
  {% if page.lang == "zh" %}
  <h3>请在此处提问</h3>
  {% else %}
  <h3>Leave your questions here</h3>
  {% endif %}
</div>
<div id="vcomments"></div>
<script>
    new Valine({
        el: '#vcomments',
        appId: 'OYaxetsY2esBAjgvG9VNPBvm-MdYXbMMI',
        appKey: 't8K3tBQIegYs2SyhkfUFrvpU',
        meta: ['nick','mail'],
        lang: '{% if page.lang == "zh" %}zh-CN{% else %}en{% endif %}',
        requiredFields: ['nick','mail'],
    })
</script>
<style>
    .v[data-class="v"] .vinput,
    .v[data-class="v"] .veditor {
        font-size: 16px;
    }
</style>
