<section class="comments mt-5">
  <script src='/assets/js/Waline.twk.min.js'></script>
  {% if page.lang == "zh" %}
  <h3>提问和评论</h3>
  {% else %}
  <h3>Questions & Comments</h3>
  {% endif %}
  <div id="waline-comments"></div>
  {% if page.lang == "zh" %}
  <script>
    new Waline({
      el: '#waline-comments',
      path: location.pathname,
      serverURL: 'https://estds2020-waline-comments.vercel.app',
      meta: ['nick','mail'],
      requiredFields: ['nick','mail'],
      anonymous: true,
      placeholder: '此处填写提问和评论，支持 MarkDown 语法。',
    });
  </script>
  {% else %}
  <script>
    new Waline({
      el: '#waline-comments',
      path: location.pathname,
      serverURL: 'https://estds2020-waline-comments.vercel.app',
      lang: 'en',
      meta: ['nick','mail'],
      requiredFields: ['nick','mail'],
      anonymous: true,
      placeholder: 'Leave your questions or comments here. MarkDown Syntax supported.',
    });
  </script>
  {% endif %}
</section>
