---
layout: default
title: "更加绿色的一点小事"
lang: zh
ref: go-greener
---
<section class="stand-out bg-by-attr overlay overlay-dark d-flex align-items-center position-relative text-white text-center py-5 px-1 px-md-5" id="start" data-image="https://user-images.githubusercontent.com/56233807/69319886-a149e100-0c72-11ea-91e0-77932ddab7d6.jpg">
  <div class="col-10 col-md-8 col-ld-6 mx-auto">
    <h1 id="little-bits-to-go-greener" class="display-3">更加绿色的一点小事</h1>
    <p>我们论坛的两大主题即水安全与可持续发展，因此我们不能仅停留在空谈，而应该从我们自己做起。我们因此希望邀请您以及所有参加论坛的人，加入我们的行动，“<strong>更加绿色的一点小事</strong>”。我们鼓励您从这些细小的事情做起，一起来降低我们的碳足迹、水足迹。</p>
    <p><a href="#cup" class="btn btn-success sjump"><i class="fas fa-paper-plane fa-fw mr-1"></i>继续</a></p>
  </div>
  <div class="credit-label small">摄影：Markus Spiske</div>
  <div class="meta meta-languages position-absolute small" style="right: 2em;top: 2em;"><div class="languages bg-dark rounded d-flex align-items-center {{ page.lang }}">{% include languages.html %}</div></div>
</section>
<section class="stand-out bg-by-attr overlay overlay-light d-flex align-items-center position-relative text-dark text-center py-5 px-1 px-md-5" id="cup" data-image="https://user-images.githubusercontent.com/56233807/69319883-a149e100-0c72-11ea-97cb-7e1df8098ccc.jpg">
  <div class="col-10 col-md-8 col-ld-6 mx-auto">
    <p class="lead text-serif">90%以上的瓶装水受微塑料颗粒污染</p>
    <h2 id="bring-your-own-cup" class="display-4">带上自己的杯子</h2>
    <p>全球每分钟售出<em><strong>一百万瓶</strong></em>塑料瓶装水，这一消耗数据预计在2021年还将增加20%（Laville and Taylor, 2017）。这些塑料瓶不仅消耗大量不必要的资源及能源来生产和回收，还对环境及人类健康造成威胁。一项研究表明，90%以上的瓶装水受微塑料颗粒污染（Mason, Welch and Neratko, 2018），其对人类健康的负面影响引发了全球的关注（Karbalaei et al., 2018; Fang et al., 2019）。</p>
    <p>因此我们希望您在参加论坛时可以<em>带上自己的杯子</em>或者使用我们提供的水杯，而不是使用一次性水杯。在限制提供瓶装水的同时，我们将用水壶提供饮用水。</p>
  </div>
  <div class="credit-label small">摄影：NordWood Themes</div>
</section>
<section class="stand-out bg-by-attr overlay overlay-dark d-flex align-items-center position-relative text-white text-center py-5 px-1 px-md-5" id="transport" data-image="https://user-images.githubusercontent.com/56233807/69319882-a149e100-0c72-11ea-95cc-c0a2161d46f4.jpg">
  <div class="col-10 col-md-8 col-ld-6 mx-auto">
    <p class="lead text-serif">搭搭火车也挺酷</p>
    <h2 id="drive-and-fly-less" class="display-4">少坐飞机少开车</h2>
    <p>在全球范围内，交通产生的二氧化碳（CO<sub>2</sub>）占总排放量的五分之一以上。另外，如不采取任何控制措施，交通行业的排放量预计在2050年翻一番。在所有的交通方式中，公路客运的排放量占行业排放的大头，紧随其后的是民用航空业；然而后者正呈现出强劲的增长趋势（Creutzig et al., 2015）。研究表明，与不采取任何措施相比，到2040年，积极使用公共交通可以降低排放量的四分之一（Peng et al., 2015）。从中国出发的航班中，国内航班占91%，其排放量约占中国民用航空排放的70%（Graver, Zhang and Rutherford, 2019）。</p>
    <p>中国发达的铁路网络使之引以为傲，而南京恰好是这一发达系统的枢纽之一。所以为什么我们不好好利用这一点呢？高速铁路被认为是交通行业实现无碳排放目标的重要方式（IEA, 2017）。另外，我们还鼓励大家使用我们的往返巴士，而不是在抵达后乘坐出租汽车，您可以在我们的<strong><a href="/zh/logistics">会务页面</a></strong>找到更多有用的信息。</p>
  </div>
  <div class="credit-label small">摄影：Zhimai Zhang</div>
</section>
<section class="stand-out bg-by-attr overlay overlay-light d-flex align-items-center position-relative text-dark text-center py-5 px-1 px-md-5" id="recycle" data-image="https://user-images.githubusercontent.com/56233807/69319881-a0b14a80-0c72-11ea-8dfb-4d27f55e2b69.jpg">
  <div class="col-10 col-md-8 col-ld-6 mx-auto">
    <p class="lead text-serif">试试无纸化</p>
    <h2 id="recycle-after-use" class="display-4">回收利用资源</h2>
    <p>中国的资源回收行业目前距离成熟还有很长的距离。2017年，十大种类再生资源回收总量达到了2.82亿吨，比上一年度增加了11%。这些可回收资源的经济价值高达7,550亿元人民币（约1,080亿美元）。十大种类中，日常生活常见的有纸张、塑料、金属等。这三类资源回收，尽管取得了不小进步，但其回收量与年生产量之比分别为<em>47.5%、22.5%、19.4%</em>（MOC, 2018），意味着还存在巨大的回收和再次利用空间。让这些宝贵的资源仅仅实现单次利用，而不考虑其环境代价和后果，是多么可惜呀！</p>
    <p>尽管南京还没有开始要求个人及家庭进行垃圾分类回收，但是回收这三类资源<em>并不会需要我们太多的努力</em>。在论坛期间，请在使用完毕这些物品以后，将其投入我们提供的相应回收容器。我们还鼓励您试试无纸化，例如，您可以在您的移动设备上获取最新的信息，而不用使用论坛的手册。关于如何在移动设备上使用我们的网站，您可以在<strong><a href="/zh/pwa">这个页面</a></strong>获得非常有用的信息。</p>
  </div>
  <div class="credit-label small">摄影：Brandi Redd</div>
</section>
<section class="stand-out bg-by-attr overlay overlay-dark d-flex align-items-center position-relative text-white text-center py-5 px-1 px-md-5" id="power" data-image="https://user-images.githubusercontent.com/56233807/69319880-a0b14a80-0c72-11ea-9375-17309a49538b.jpg">
  <div class="col-10 col-md-8 col-ld-6 mx-auto">
    <p class="lead text-serif">更加精明地使用电器</p>
    <h2 id="use-less-power" class="display-4">减少能源使用</h2>
    <p>在住宅区域的能源消耗占全球消耗总量的16-50%（Saidur, Masjuki and Jamaluddin, 2007），而这一比率还在增长（Allouhi et al., 2015）。例如，由于全球持续变暖，空气调节（空调）的能源需求，特别是用于降温目的，预计将显著增加（Zhou et al., 2016），而寒冷季节由于升温减少的取暖需求，对此的抵消作用微乎其微（Davis and Gertler, 2015）。住宅区域的行为方式对能源消耗的影响十分明显（Allouhi et al., 2015）。研究表明，美国民众采取的节能举措，可以减少7.4%的排放，而对生活质量并没有明显影响（Dietz et al., 2009）。另一项在中国的研究表明，通过改进使用方式，电器的能源消耗可以节约高达14%（Ouyang and Hokao, 2009）。</p>
    <p>因此，我们鼓励您更加精明地使用电器。您的这些做法可以帮助节约能源，例如<em>将空调的温度调高</em>（例如到26°C）、离开房间时<em>随手关灯</em>、尽可能地<em>使用楼梯而不是电梯</em>、使用完电器后<em>及时将其从插座上拔出</em>。</p>
  </div>
  <div class="credit-label small">摄影：Robert Haverly</div>
</section>
<section class="stand-out bg-by-attr overlay overlay-light d-flex align-items-center position-relative text-dark text-center py-5 px-1 px-md-5" id="clothes" data-image="https://user-images.githubusercontent.com/56233807/69319879-a0b14a80-0c72-11ea-846f-f29aa3dd6680.jpg">
  <div class="col-10 col-md-8 col-ld-6 mx-auto">
    <p class="lead text-serif">我们真的需要再买一件吗？</p>
    <h2 id="say-no-to-fast-fashion" class="display-4">向快销时装说不</h2>
    <p>时装行业是第二大污染行业（Brenot et al., 2019）。全世界20%的污水、10%的碳排放来自这个行业（UNEP, 2018）。作为中国的支柱行业之一，纺织行业已经污染了东南地区70%的水资源（Brenot et al., 2019）。制造一件T恤需要消耗的水资源是2,700升，而制造一条牛仔裤则需要耗费3,700升水资源，简直令人惊异（Aivazidou and Tsolakis, 2019）。另外，快销时装的全球供应链中，涉及许多劳动力密集型行业，这些行业可能存在劳工福利过低、使用童工等问题，引发人们的讨论及关注（Perry and Towers, 2013）。</p>
    <p>因此我们希望大家能够关注快销时装行业的高耗水、高排放。<strong>我们真的需要再买一件衣服吗</strong>？我们买过的裙子、外套、裤子中，有多少是没有穿过第三次、甚至第二次？如果我们在购物时能够更加注重衣物质量和使用寿命，而不是数量，我们不仅可以节约宝贵的自然资源，还可以节省我们辛苦工作换来的薪水。</p>
  </div>
  <div class="credit-label small">摄影：Charisse Kenion</div>
</section>
<section class="stand-out bg-by-attr overlay overlay-dark d-flex align-items-center position-relative text-white text-center py-5 px-1 px-md-5" id="coffee" data-image="https://user-images.githubusercontent.com/56233807/69319878-a018b400-0c72-11ea-9c64-28f43025e6cd.jpg">
  <div class="col-10 col-md-8 col-ld-6 mx-auto">
    <p class="lead text-serif">保持充足的水分而不是咖啡因</p>
    <h2 id="replace-drinks-with-water" class="display-4">用水替换饮料</h2>
    <p>水是生命之源，我们的身体需要摄取水分来正常工作，所以我们会饮用不同的饮料。但是您知道制造一杯茶或者咖啡需要消耗的水资源是多少吗？答案可能会有些惊人。每制造一杯茶或咖啡，我们需要分别使用27或130升水资源（Mekonnen and Hoekstra, 2011）。如果我们决定再放松一些，来些啤酒或红酒，我们每消耗1吨啤酒或红酒，分别需要利用300或870吨水资源来制造（ibid）。</p>
    <p>因此，我们希望鼓励大家能够尽量用水来替换一些饮料，因为从严格意义上来说，我们的身体需要的是H<sub>2</sub>O，不是C<sub>8</sub>H<sub>10</sub>N<sub>4</sub>O<sub>2</sub>，更不是C<sub>2</sub>H<sub>5</sub>OH。我们需要<strong>保持充足的水分来生存，而不是需要咖啡因或者酒精的刺激</strong>。当然，这并不是阻止大家享受生活，而是说将每天或者每周喝的饮料中拿出一杯，不管是茶、咖啡、啤酒还是红酒，替换成水，这并不会拿走多少生活的乐趣，对吗？</p>
  </div>
  <div class="credit-label small">摄影：Mae Mu</div>
</section>
<section class="stand-out bg-by-attr overlay overlay-light d-flex align-items-center position-relative text-dark text-center py-5 px-1 px-md-5" id="food" data-image="https://user-images.githubusercontent.com/56233807/69319876-9f801d80-0c72-11ea-90f1-cdbe70f22ac2.jpg">
  <div class="col-10 col-md-8 col-ld-6 mx-auto">
    <p class="lead text-serif">多吃蔬菜</p>
    <h2 id="each-less-meat" class="display-4">少吃些肉</h2>
    <p>肉类食物提供给我们重要的能量和营养，但是过量摄入肉制品对人类健康及环境质量的影响显著（Godfray et al., 2018）。食品行业的温室气体排放大部分来自肉类食物的生产（ibid）。在中国开展的一项对食物全生命过程评估研究表明，肉类食物的碳足迹显著高于植物性食物，碳足迹最高的肉类食品（羊肉）甚至高于最低的植物性食物（萝卜）约<strong>600倍</strong>（Xu and Lan, 2016）。另一项全球模型研究指出，在符合健康饮食标准的情况下，摄入更多植物性食物的饮食习惯可以降低6-10%的死亡率、降低食品行业29-70%的温室气体排放（Springmann et al., 2016）。</p>
    <p>从田间到餐盘，动物性食品的碳足迹主要来自饲料生产以及喂养，但是全生命过程评估还需要考虑例如食品运输和存储的碳排放（Nijdam, Rood and Westhoek, 2012）。因此，为了降低我们的碳足迹，我们想鼓励大家不仅少吃一些肉制品，还应该多吃<strong>本地</strong>、<strong>当季</strong>的食品。</p>
  </div>
  <div class="credit-label small">摄影：Monika Grabkowska</div>
</section>
<section class="stand-out bg-by-attr overlay overlay-dark d-flex align-items-center position-relative text-white text-center py-5 px-1 px-md-5" id="people" data-image="https://user-images.githubusercontent.com/56233807/69319872-9f801d80-0c72-11ea-9a4f-4f6cb48bc02f.jpg">
  <div class="col-10 col-md-8 col-ld-6 mx-auto">
    <p class="lead text-serif">水滴石穿 绳锯木断</p>
    <h2 id="bring-more-people-onboard" class="display-4">发动更多人一起</h2>
    <p>我们可以做的可能非常有限，但是积少成多，正如古老的智慧所言，水滴石穿，绳锯木断。当您参会以后，请将这些信息分享给更多人，让我们在可持续发展的道路上一起作伴。前方的路可能很长，但我们不会孤单。</p>

    <!-- Start: .share-buttons -->
    <div class="share-buttons" aria-label="Share buttons">

      <!-- Start: Toggle buttons for sharing -->
      <div class="btn-group" role="group">
        <a tabindex="0" id="share-toggle-sns" class="btn btn-outline-warning share-toggles" role="button" data-popover-content="#popover-content-sns" data-trigger="focus">
          <i class="far fa-share-square fa-fw mr-1"></i>分享至
        </a>
        <a tabindex="0" id="share-toggle-qr" class="btn btn-outline-light share-toggles" role="button" data-popover-content="#popover-content-qr" data-trigger="focus">
          <i class="fas fa-qrcode fa-fw mr-1"></i>扫一扫
        </a>
      </div>
      <!-- End: Toggle buttons for sharing -->

      {% include zh/sns-share-entries.html %}
      
    </div>
    <!-- End: .share-buttons -->
  </div>
  <div class="credit-label small">摄影：Cameron Venti</div>

</section>
<section class="bg-dark d-flex align-items-center position-relative text-white py-5 px-1 px-md-5 small" id="reference">
  <div class="col-12">
    <h2 class="text-center">参考资料</h2>
    <p>Aivazidou, E. and Tsolakis, N. (2019). Water footprint management in the fashion supply chain: A review of emerging trends and research challenges. <em>Water in Textiles and Fashion</em>, pp.77–94.</p>
    <p>Allouhi, A., El Fouih, Y., Kousksou, T., Jamil, A., Zeraouli, Y. and Mourad, Y. (2015). Energy consumption and efficiency in buildings: current status and future trends. <em>Journal of Cleaner Production</em>, 109, pp.118–130.</p>
    <p>Brenot, A., Chuffart, C., Coste-Manière, I., Deroche, M., Godat, E., Lemoine, L., Ramchandani, M., Sette, E. and Tornaire, C. (2019). Water footprint in fashion and luxury industry. <em>Water in Textiles and Fashion</em>, pp.95–113.</p>
    <p>Creutzig, F., Jochem, P., Edelenbosch, O.Y., Mattauch, L., Vuuren, D.P. v., McCollum, D. and Minx, J. (2015). Transport: A roadblock to climate change mitigation? <em>Science</em>, 350(6263), pp.911–912.</p>
    <p>Davis, L.W. and Gertler, P.J. (2015). Contribution of air conditioning adoption to future energy use under global warming. <em>Proceedings of the National Academy of Sciences</em>, [online] 112(19), pp.5962–5967. Available <a href="https://www.pnas.org/content/112/19/5962">here</a> [Accessed 18 Oct. 2019].</p>
    <p>Dietz, T., Gardner, G.T., Gilligan, J., Stern, P.C. and Vandenbergh, M.P. (2009). Household actions can provide a behavioral wedge to rapidly reduce US carbon emissions. <em>Proceedings of the National Academy of Sciences</em>, 106(44), pp.18452–18456.</p>
    <p>Fang, C., Zheng, R., Chen, H., Hong, F., Lin, L., Lin, H., Guo, H., Bailey, C., Segner, H., Mu, J. and Bo, J. (2019). Comparison of microplastic contamination in fish and bivalves from two major cities in Fujian province, China and the implications for human health. <em>Aquaculture</em>, 512, p.734322.</p>
    <p>Godfray, H.C.J., Aveyard, P., Garnett, T., Hall, J.W., Key, T.J., Lorimer, J., Pierrehumbert, R.T., Scarborough, P., Springmann, M. and Jebb, S.A. (2018). Meat consumption, health, and the environment. <em>Science</em>, [online] 361(6399), p.eaam5324. Available <a href="http://science.sciencemag.org/content/361/6399/eaam5324.full">here</a> [Accessed 15 Mar. 2019].</p>
    <p>Graver, B., Zhang, K. and Rutherford, D. (2019). <em>CO2 emissions from commercial aviation, 2018 | International Council on Clean Transportation</em>. [online] International Council on Clean Transportation. Available <a href="https://theicct.org/publications/co2-emissions-commercial-aviation-2018">here</a> [Accessed 23 Oct. 2019].</p>
    <p>IEA (2017). <em>High-speed rail presents major opportunities for decarbonisation of transport</em>. [online] International Energy Agency. Available <a href="https://www.iea.org/newsroom/news/2017/december/high-speed-rail-presents-major-opportunities-for-decarbonisation-of-transport.html">here</a> [Accessed 25 Oct. 2019].</p>
    <p>Karbalaei, S., Hanachi, P., Walker, T.R. and Cole, M. (2018). Occurrence, sources, human health impacts and mitigation of microplastic pollution. <em>Environmental Science and Pollution Research</em>, [online] 25(36), pp.36046–36063. Available <a href="https://link.springer.com/article/10.1007/s11356-018-3508-7">here</a> [Accessed 11 Jul. 2019].</p>
    <p>Laville, S. and Taylor, M. (2017). A million bottles a minute: world’s plastic binge ‘as dangerous as climate change.’ <em>The Guardian</em>, 28.</p>
    <p>Mason, S.A., Welch, V.G. and Neratko, J. (2018). Synthetic Polymer Contamination in Bottled Water. <em>Frontiers in Chemistry</em>, [online] 6. Available <a href="https://www.frontiersin.org/articles/10.3389/fchem.2018.00407/full">here</a> [Accessed 4 Mar. 2019].</p>
    <p>Mekonnen, M.M. and Hoekstra, A.Y. (2011). The green, blue and grey water footprint of crops and derived crop products. <em>Hydrology and Earth System Sciences</em>, [online] 15(5), pp.1577–1600. Available <a href="https://waterfootprint.org/media/downloads/Mekonnen-Hoekstra-2011-WaterFootprintCrops.pdf">here</a> [Accessed 3 May 2019].</p>
    <p>MOC (2018). <em>2018 Development Report on China’s Recycling Industry [中国再生资源回收行业发展报告（2018）​]</em>. [online] Ministry of Commerce [MOC, 商务部]. Available <a href="http://ltfzs.mofcom.gov.cn/article/date/201806/20180602757116.shtm">here</a> [Accessed 24 Oct. 2019].</p>
    <p>Nijdam, D., Rood, T. and Westhoek, H. (2012). The price of protein: Review of land use and carbon footprints from life cycle assessments of animal food products and their substitutes. <em>Food Policy</em>, 37(6), pp.760–770.</p>
    <p>Ouyang, J. and Hokao, K. (2009). Energy-saving potential by improving occupants’ behavior in urban residential sector in Hangzhou City, China. <em>Energy and Buildings</em>, 41(7), pp.711–720.</p>
    <p>Peng, B., Du, H., Ma, S., Fan, Y. and Broadstock, D.C. (2015). Urban passenger transport energy saving and emission reduction potential: A case study for Tianjin, China. <em>Energy Conversion and Management</em>, 102, pp.4–16.</p>
    <p>Perry, P. and Towers, N. (2013). Conceptual framework development. <em>International Journal of Physical Distribution &amp; Logistics Management</em>, 43(5/6), pp.478–501.</p>
    <p>Saidur, R., Masjuki, H.H. and Jamaluddin, M.Y. (2007). An application of energy and exergy analysis in residential sector of Malaysia. <em>Energy Policy</em>, 35(2), pp.1050–1063.</p>
    <p>Springmann, M., Godfray, H.C.J., Rayner, M. and Scarborough, P. (2016). Analysis and valuation of the health and climate change cobenefits of dietary change. <em>Proceedings of the National Academy of Sciences</em>, 113(15), pp.4146–4151.</p>
    <p>UNEP (2018). <em>Putting the brakes on fast fashion</em>. [online] United Nations Environment Programme. Available <a href="https://www.unenvironment.org/news-and-stories/story/putting-brakes-fast-fashion">here</a> [Accessed 25 Oct. 2019].</p>
    <p>Xu, X. and Lan, Y. (2016). A comparative study on carbon footprints between plant- and animal-based foods in China. <em>Journal of Cleaner Production</em>, 112, pp.2581–2592.</p>
    <p>Zhou, X., Yan, D., Feng, X., Deng, G., Jian, Y. and Jiang, Y. (2016). Influence of household air-conditioning use modes on the energy performance of residential district cooling systems. <em>Building Simulation</em>, 9(4), pp.429–441.</p>  </div>
  <div class="credit-label small">作者：周天涛</div>
</section>
