---
layout: page
title: "About the Forum"
lang: en
ref: about-page
last_update: 2020-03-09
---

<div class="list-group list-group-flush">
  <div class="list-group-item px-0">
    <h2 id="background">Background</h2>
    {% include about-background.html %}
    <h3 id="estds-forums">ESTDS Forums</h3>
    <p>The Water Security and Sustainability Forum is one of the International Top-level Forums on Engineering Science and Technology Development Strategy (ESTDS) sponsored by the Chinese Academy of Engineering. The ESTDS Forums of the Chinese Academy of Engineering could date back to 2011 when the Academy started to vision the future development of engineering science in the upcoming 20 years and even further through strategic discussions and studies. ESTDS Forums are best-known for their inter-disciplinary and international ways of thinking. They try to break disciplinary boundaries for synergy in innovation and bridge the physical distances between world's leading experts for international cooperation. ESTDS Forums focus on themes that are macro-scale, strategically significant, and forward-looking.</p>
  </div>
  <div class="list-group-item px-0">
    <h2 id="theme-topics">Theme &amp; topics</h2>
    <h3 id="theme">Theme</h3>
    <ul>
      <li>Water security and sustainability</li>
    </ul>
    <h3 id="topics">Topics</h3>
    {% include about-topics.html %}
  </div>
  <div class="list-group-item px-0">
    <h2 id="partnerships">Partnerships</h2>
    {% include sponsors.html %}
  </div>
  <div class="list-group-item px-0">
    <h2 id="orgnisation">Orgnisation</h2>
    <h3 id="academic-committee">Academic Committee</h3>
    {% include ac.html %}
    <h3 id="organising-committee">Organising Committee</h3>
    {% include oc.html %}
    <h4 id="secretariat">Secretariat</h4>
    <ul class="people-list p-0">
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-zhengjinhai.jpg" class="people-avatar rounded-circle mr-3" alt="Jinhai Zheng">
        <div class="media-body">
          <h5 class="mt-0"><b>Jinhai Zheng</b>, Dr., Prof., Secretary General</h5>
          <p class="text-secondary">Vice President of Hohai University</p>
        </div>
      </li>
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-liyun.jpg" class="people-avatar rounded-circle mr-3" alt="Yun Li">
        <div class="media-body">
          <h5 class="mt-0"><b>Yun Li</b>, Prof., Secretary General</h5>
          <p class="text-secondary">Vice President of Nanjing Hydraulic Research Institute</p>
        </div>
      </li>
      <li class="media my-2">
        <img src="https://cdn.jsdelivr.net/gh/estds/estds2020/assets/img/avatars/avatar-update.jpg" class="people-avatar rounded-circle mr-3 invisible" alt="Updating">
        <div class="media-body">
          <h5 class="lead small text-secondary">This list is to be updated further</h5>
        </div>
      </li>
    </ul>
  </div>
  <div class="list-group-item px-0">
    <h2 id="venue">Venue</h2>
    <p>The forum will be held in its permanent home, Nanjing in east China, where the ancient Qinhuai River of romance meets the mighty Yangtze.</p>
    <p>More details of the venue will be released very soon.</p>
  </div>
  <div class="list-group-item px-0">
    <h2 id="contact">Contact</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet lacinia neque. Suspendisse potenti. Etiam lorem sapien, porta nec maximus id, eleifend eget odio. Mauris velit justo, scelerisque sit amet tincidunt ac, ultrices ut purus. Cras ut porta orci, quis dapibus urna. Quisque varius lorem mi, vel pharetra ante pretium vel. Nulla fringilla et tortor ac fringilla. Duis ut vehicula urna.</p>
  </div>
</div>
