---
layout: page
title: "关于论坛"
lang: zh
ref: about-page
last_update: 2020-03-09
---
<div class="list-group list-group-flush">
  <div class="list-group-item px-0">
    <h2 id="background">背景</h2>
    {% include about-background.html %}
    <h3 id="estds-forums">ESTDS论坛</h3>
    <p>“水安全与可持续发展高端论坛”是中国工程院“国际工程科技发展战略（ESTDS）高端论坛”的系列论坛。ESTDS论坛始于2011年，工程院希望通过战略性的讨论及研究，展望并规划未来20年及更长远的工程科技发展前景。ESTDS论坛具有鲜明的跨学科、国际化特征。论坛希望打破学科壁垒、形成协同创新，注重学科间的交叉融合；同时注重促进跨越物理距离的国际交流，增进全球顶级层次的国际合作。论坛的主题具有宏观性、战略性、前瞻性三大显著特点。</p>
  </div>
  <div class="list-group-item px-0">
    <h2 id="theme-topics">主题·议题</h2>
    <h3 id="theme">主题</h3>
    <ul>
      <li>水安全与可持续发展</li>
    </ul>
    <h3 id="topics">议题</h3>
    {% include about-topics.html %}
  </div>
  <div class="list-group-item px-0">
    <h2 id="partnerships">伙伴关系</h2>
    {% include sponsors.html %}
  </div>
  <div class="list-group-item px-0">
    <h2 id="orgnisation">组织机构</h2>
    <h3 id="academic-committee">学术委员会</h3>
    {% include ac.html %}
    <h3 id="organising-committee">组织委员会</h3>
    {% include oc.html %}
    <h4 id="secretariat">秘书处</h4>
    {% include sec.html %}
  </div>
  <div class="list-group-item px-0">
    <h2 id="venue">地点</h2>
    <p>论坛将在其永久举办地，中国东部的南京举办，古老浪漫的秦淮河与恢宏磅礴的长江在这里相遇。</p>
    <p>更多关于论坛举办地点的信息将很快公布。</p>
  </div>
  <div class="list-group-item px-0">
    <h2 id="contact">联系方式</h2>
    {% include contacts.html %}
  </div>
</div>
