---
layout: page
title: 议程
ref: programmes-page
lang: zh
last_update: 2021-1-28
---
<script src="https://cdn.jsdelivr.net/gh/estds/cdn-res/fullcalendar/3.10.2/lib/moment.min.js"></script>
<link href="https://cdn.jsdelivr.net/gh/estds/cdn-res/fullcalendar/3.10.2/fullcalendar.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/estds/cdn-res/fullcalendar/3.10.2/fullcalendar.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/estds/cdn-res/fullcalendar/3.10.2/locale/zh-cn.js"></script>

<p class="lead">我们目前的计划涵盖{{ site.cfrc_start | date: '%Y年%m月%d日' }}至{{ site.cfrc_end | date: '%Y年%m月%d日' }}4天的日程。</p>
<p>请点击下方日历中的活动了解详情。</p>

<div id="programmeCalendar"></div>

<script>
  $(document).ready(function() {

    $('#programmeCalendar').fullCalendar({
      themeSystem: 'bootstrap4',
      firstDay: 0,
      //height: 600,
      header: {
        left: 'prev,next',
        right: 'month,basicWeek,listWeek'
      },
      defaultDate: '{{ site.cfrc_start | date: "%Y-%m-%d" }}',
      defaultView: 'listWeek',
      navLinks: true, // can click day/week names to navigate views
      editable: false,
      eventLimit: true, // allow "more" link when too many events
      timeFormat: 'H:mm', //24 hour format
      eventSources: [
        // entire conference
        {
          events: [
            {
              title  : '{{ site.name}}',
              start  : '{{ site.cfrc_start | date: "%Y-%m-%d" }}',
              end  : '{{ site.cfrc_end | date:"%s" | plus:86400 | date: "%Y-%m-%d" }}',
            },
          ],
          color: '#28a745',   // an option!
        },
        // individual sessions
        {
          events: [
            {% assign all_events = site.pages | where:"lang","zh" %}{% assign events = all_events | where:"layout","event" %}{% for item in events %}{"title": "{{ item.title }}","start": "{{ item.start | date: "%Y-%m-%dT%H:%M:%S" }}","end": "{{ item.end | date: "%Y-%m-%dT%H:%M:%S" }}","url":"{{ site.baseurl }}{{ item.url }}"}{% unless forloop.last %},{% endunless %}{% endfor %}
          ],
          color: '#3a87ad',   // an option!
        },
        // daily agendas
        {
          events: [
            {
              title  : '注册报到',
              start  : '2021-04-21',
            },
            {
              title  : '技术参观',
              start  : '2021-04-24',
            },
          ],
          color: '#007bff',   // an option!
        }
      ]
    });

  });
</script>

<p>更多细节还正在确定中，您可以<a href="#" data-toggle="modal" data-target="#ical-feed-modal">订阅我们的在线日历</a>，在您喜欢的日历应用中查看我们的最新安排。</p>

<!-- iCal Modal -->
<div class="modal fade" id="ical-feed-modal" tabindex="-1" role="dialog" aria-labelledby="iCalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close ml-4" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p class="mb-3">您可以使用以下日历源：</p>
        {% include ical-box.html load_js="true" %}
      </div>
    </div>
  </div>
</div>

