---
layout: default
lang: zh
title: 博客
---

<div class="container py-5">
  <div class="row">
    <div class="col-md-9">
      {% include zh/breadcrumb.html %}
      
      <div aria-label="content">

        <a href="atom.xml" class="float-right text-secondary p-1" data-toggle="tooltip" data-placement="left" title="点击获取RSS源">
            <i class="fas fa-rss-square fa-lg"></i>
        </a>

        <h1>{{ page.title }}</h1>
        
        {% assign posts=site.posts | where:"lang", page.lang %}
        <div class="content my-3">
            
            {% for post in posts %}
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h5>
                  <p class="card-text">{{ post.abstract }}<a href="{{ post.url }}" title="{{ post.title }}" class="mx-1"><i class="far fa-arrow-alt-circle-right"></i></a></p>
                  <p class="card-text"><small class="text-muted">{% include date.html %}</small></p>
                </div>
              </div>
            {% endfor %}

        </div>

      </div>
    </div>
    <div class="col-md-3">
      {% include zh/right-sidebar.html %}
    </div>
  </div>
</div>
