      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4><a href="/cn/about" class="text-white">关于<i class="fas fa-angle-double-right text-light ml-1 small"></i></a></h4>
              <p class="text-white-50">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">更多</h4>
              <ul class="list-unstyled">
                <li><a href="/cn/programmes" class="text-light"><i class="fas fa-calendar-alt fa-fw mr-1"></i>详细议程</a></li>
                <li><a href="/cn/invited" class="text-light"><i class="fas fa-user-circle fa-fw mr-1"></i>特邀报告</a></li>
                <li><a href="/cn/blog" class="text-light"><i class="fas fa-rss fa-fw mr-1"></i>博客</a></li>
                <li><a href="/cn/logistics" class="text-light"><i class="fas fa-map-signs fa-fw mr-1"></i>会务</a></li>
                <li><a href="/cn/take-part" class="text-primary"><i class="fas fa-user-plus fa-fw mr-1"></i>参会</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark px-0 bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="/" id="estds-logo" class="navbar-brand d-flex align-items-center">
            <strong class="sr-only">Logo</strong>
          </a>
          <button class="navbar-toggler collapsed border-0" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            	<span class="icon-bar top-bar"></span>
              <span class="icon-bar middle-bar"></span>
              <span class="icon-bar bottom-bar"></span>		
          </button>
        </div>
      </div>
