  <div id="home-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#home-carousel" data-slide-to="1"></li>
      <li data-target="#home-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-image="https://user-images.githubusercontent.com/56233807/66943989-22251580-f001-11e9-8446-75ba33ab7d69.jpg">
        <div class="carousel-caption animated slideInUp">
          <h5>水安全与可持续发展</h5>
          <p>中国工程院国际工程科技发展战略高端论坛系列之一</p>
        </div>
        <div class="credit-label text-truncate">摄影：Emile Guillemot</div>
      </div>
      <div class="carousel-item" data-image="https://user-images.githubusercontent.com/56233807/66940195-66141c80-eff9-11e9-8d7c-d097b49f5e5a.jpg">
        <div class="carousel-caption animated slideInUp">
          <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="credit-label text-truncate">摄影：Kenneth Yang</div>
      </div>
      <div class="carousel-item" data-image="https://user-images.githubusercontent.com/56233807/66970514-b19ee880-f042-11e9-9a5f-2aacf54d8713.jpg">
        <div class="carousel-caption animated slideInUp">
          <h5>欢迎回来！</h5>
          <p>我们在南京等候您的到来</p>
        </div>
        <div class="credit-label text-truncate">摄影：Zhimai Zhang</div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#home-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#home-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
