   <!-- Start: Contents of popovers -->
   <div class="d-none">
     <!-- Start: Contents of popovers #popover-content-sns -->
     <div id="popover-content-sns">
       <div class="popover-content">
         <div class="btn-group-vertical share-buttons">
           <a title="Twitter" class="share-button text-left text-white btn" id="twitter" href="https://twitter.com/intent/tweet?url={{ site.baseurl | url_encode }}{{ page.url | url_encode }}&text={{ page.title | url_encode }}%20%7C%20{{ site.name | url_encode }}&hashtags=water,sustainability,Nanjing" target="_blank">
             <i class="fab fa-twitter fa-fw mr-1"></i>Twitter
           </a>
           <a title="Facebook" class="share-button text-left text-white btn" id="facebook" href="https://www.facebook.com/sharer.php?u={{ site.baseurl | url_encode }}{{ page.url | url_encode }}" target="_blank">
             <i class="fab fa-facebook-f fa-fw mr-1"></i>Facebook
           </a>
           <a title="Linkedin" class="share-button text-left text-white btn" id="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.baseurl | url_encode }}{{ page.url | url_encode }}" target="_blank">
             <i class="fab fa-linkedin-in fa-fw mr-1"></i>LinkedIn
           </a>
           <a title="Sina Weibo" class="share-button text-left text-white btn" id="weibo" href="http://service.weibo.com/share/share.php?url={{ site.baseurl | url_encode }}{{ page.url | url_encode }}&title={{ page.title | url_encode }}%20%7C%20{{ site.name | url_encode }}" target="_blank">
             <i class="fab fa-weibo fa-fw mr-1"></i>微博
           </a>
         </div>
       </div>
     </div>
     <!-- End: Contents of popovers #popover-content-sns -->

     <!-- Start: Contents of popovers #popover-content-qr -->
     <div id="popover-content-qr">
       <div class="popover-content">
         <div id="url-qr-wrap"></div>
       </div>
     </div>
     <!-- End: Contents of popovers #popover-content-qr -->
   </div>
   <!-- End: Contents of popovers -->
