---
layout: default
---
<div class="container py-5">
  <div class="row">
    <div class="col-md-9 left-col">
      {% if page.lang == "zh" %}
        {% include zh/breadcrumb.html %}
      {% else %}
        {% include breadcrumb.html %}
      {% endif %}

      <div aria-label="content">

        <h1>{{ page.title }}</h1>
        <div class="meta small text-secondary d-flex justify-content-between">
          <div class="meta meta-date"></div>
          {% if page.ref and page.lang %}
          <div class="meta meta-languages"><div class="languages bg-dark rounded d-flex align-items-center {{ page.lang }}">{% include languages.html %}</div></div>
          {% endif %}
        </div>

        <div class="content rounded bg-white p-4 my-3">
          {{ content }}
          <div class="alert alert-info my-3" role="alert">
            {% include rate-page.html %}
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-3 right-col d-print-none">
      {% if page.lang == "zh" %}
        {% include zh/right-sidebar.html %}
      {% else %}
        {% include right-sidebar.html %}
      {% endif %}
    </div>
  </div>
</div>
