---
layout: default
---
<nav class="container" aria-label="breadcrumb">
  <ol class="breadcrumb small">
    <li class="breadcrumb-item"><a href="/"><i class="fas fa-home mr-1"></i>Home</a></li>
    <li class="breadcrumb-item"><a href="/blog">Blog</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
  </ol>
</nav>

<div class="container" aria-label="content">
  
    <h1>{{ page.title }}</h1>
    <p class="meta small text-secondary"><i class="far fa-calendar-alt mr-1"></i>{{ page.date | date_to_string }}</p>

    <div class="content my-3">
      {{ content }}
    </div>
  
</div>
